<!-- Sidebar Start -->
<div class="sidebar bg-light d-flex flex-column position-fixed vh-100"
    style="margin-top: 100px; width: 220px; padding: 15px;">
    <nav class="navbar navbar-light flex-column align-items-start">
        <!-- 用戶資訊 -->
        <div class="d-flex align-items-center w-100 mb-3 ps-2">
            <div class="position-relative">
                <img id="userImage" class="rounded-circle border" src="../img/logo.ico" alt="User Image"
                    style="width: 50px; height: 50px;">
                <div class="bg-success rounded-circle border border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0 text-dark" id="username-h6">使用者</h6>
                <!-- 預留欄位 顯示權限:系統管理員 -->
                <small class="text-muted"></small>
            </div>
        </div>
        <!-- 選單項目 -->
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark fw-bold px-1 py-2" data-bs-toggle="dropdown">
                    <i class="fa fa-file-alt me-2"></i>事件反應
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/incident/select_incident'}" class="nav-item nav-link px-1 py-2"><i
                            class="fa fa-laptop me-2"></i>追蹤</a>
                    <a th:href="@{'/incident/inster_incident'}" class="nav-item nav-link px-1 py-2"><i
                            class="fa fa-laptop me-2"></i>新增事件</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark fw-bold px-1 py-2" data-bs-toggle="dropdown">
                    <i class="fa fa-file-alt me-2"></i>財產管理
                </a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/incident/select_incident'}" class="nav-item nav-link px-1 py-2"><i
                            class="fa fa-laptop me-2"></i>總明細</a>
                    <a th:href="@{'/incident/inster_incident'}" class="nav-item nav-link px-1 py-2"><i
                            class="fa fa-laptop me-2"></i>資訊設備總表</a>
                </div>
            </div>
        </div>
    </nav>
</div>