<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <img id="userImage3" src="../img/chyunn_logo4.jpg" alt="User Image">
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" style="color: #000000;"> <i
                    class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">通知</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">user</h6> <small>
                        user test</small>
                </a>
                <hr class="dropdown-divider">
            </div>
        </div>
        <div class="nav-item dropdown">
            <button id="logoutBtn" class="btn nav-link text-dark"> <i class="fas fa-sign-out-alt"></i> 登出</button>
        </div>
    </div>
</nav>