<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- Icon Font Stylesheet -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

<!-- Libraries Stylesheet -->
<link th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
<link th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

<!-- Customized Bootstrap Stylesheet -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- Template Stylesheet -->
<link th:href="@{/css/style.css}" rel="stylesheet">
<link th:href="@{/css/daterangepicker.css}" rel="stylesheet">

<!-- logo -->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/img/logo.ico}" />

<!-- sweetalert2 -->
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">

<!-- flatpickr -->
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">

<!-- ckeditor -->
<link rel="stylesheet" th:href="@{/ckeditor5/ckeditor5.css}">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<style>
    #username-display {
        font-size: 18px;
        /* 字體大小 */
        font-weight: 600;
        /* 字體粗細 */
        color: #333;
        /* 字體顏色 */
        font-family: 'Roboto', sans-serif;
        /* 使用 Roboto 字型，預設為 sans-serif */
        text-transform: capitalize;
        /* 首字母大寫 */
        /* background-color: #f0f0f0; */
        /* 背景顏色 */
        padding: 5px 10px;
        /* 內邊距 */
        border-radius: 8px;
        /* 邊框圓角 */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
</style>