<!-- Sidebar Start -->
<div class="sidebar bg-light d-flex flex-column position-fixed vh-100"
    style="margin-top: 100px; width: 220px; padding: 15px;">
    <nav class="navbar navbar-light flex-column align-items-start">
        <!-- 用戶資訊 -->
        <div class="d-flex align-items-center w-100 mb-3 ps-2">
            <div class="position-relative">
                <img id="userImage" class="rounded-circle border" src="../img/logo.ico" alt="User Image"
                    style="width: 50px; height: 50px;">
                <div class="bg-success rounded-circle border border-white position-absolute end-0 bottom-0 p-1"></div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0 text-dark" id="username-h6" th:text="${userName}">
                    使用者</h6>
                <input type="hidden" id="loginId" th:value="${loginId}" />
                <!-- 顯示角色（只有 ROLE_ADMIN 才會顯示） -->
                <small class="text-muted"
                    th:if="${userRoles != null and #lists.contains(userRoles, 'ROLE_ADMIN')}">系統管理員</small>
            </div>
        </div>
        <!-- 選單項目 -->
        <div class="navbar-nav w-100">
            <a th:href="@{'/index/index'}" class="nav-link  text-dark fw-semibold px-1 py-1">
                <i class="fa fa-file-alt me-2"></i>首頁
            </a>
            <div class="nav-item dropdown">
                <a th:href="@{'/index/accountSettings'}" class="nav-link text-dark  fw-semibold px-1 py-1">
                    <i class="fa fa-file-alt me-2"></i>個人管理
                </a>
            </div>
            <div class="nav-item dropdown">
                <a href="http://192.168.3.22/tiptop_go.html" target="_blank"
                    class="nav-link text-dark fw-semibold px-1 py-1">
                    <i class="fa fa-file-alt me-2"></i>鼎新Tiptop ERP
                </a>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link text-dark dropdown-toggle fw-semibold px-1 py-1" data-bs-toggle="dropdown">
                    <i class="fa fa-file-alt me-2"></i>資源管理
                </a>
                <div class="dropdown-menu bg-transparent border-0 py-1">
                    <a th:href="@{'/resource/calendar'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>行事曆</a>
                    <a th:href="@{'/resource/bulletin'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>公佈欄</a>
                    <a th:href="@{'/resource/resources'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>資源管理</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle text-dark fw-semibold px-1 py-1" data-bs-toggle="dropdown">
                    <i class="fa fa-file-alt me-2"></i>事件反應&申訴專區
                </a>
                <!-- <a href="#" class="nav-link dropdown-toggle text-dark fw-semibold px-1 py-1 d-flex align-items-center"
                    data-bs-toggle="dropdown">
                    <i class="fa fa-file-alt  me-2"></i>
                    <span class="d-flex flex-column">
                        <span class="text-start">員工意見</span>
                        <span class="text-start">申訴專區</span>
                    </span>
                </a> -->
                <div class="dropdown-menu bg-transparent border-0 py-1">
                    <a th:href="@{'/incident/select_incident'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>追蹤</a>
                    <a th:href="@{'/incident/inster_incident'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>新增事件</a>
                    <a th:href="@{'/incident/complaint_Channel'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>申訴管道</a>
                </div>
            </div>
            <div class="nav-item dropdown"
                th:if="${userRoles != null and (#lists.contains(userRoles, 'ROLE_ADMIN') or #lists.contains(userRoles, 'ROLE_ASSET_MANAGE')  or #lists.contains(userRoles, 'ROLE_ASSET_VIEW'))}">
                <a href="#" class="nav-link dropdown-toggle text-dark fw-semibold px-1 py-1" data-bs-toggle="dropdown">
                    <i class="fa fa-file-alt me-2"></i>財產管理
                </a>
                <div class="dropdown-menu bg-transparent border-0 py-1">
                    <a th:href="@{'/asset/select_All_Asset'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>總明細</a>
                    <a th:href="@{'/asset/select_ITAsset'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>資訊設備總表</a>
                    <a th:href="@{'/asset/select_FixedAsset'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>財務-固定資產</a>
                </div>
            </div>
            <div class="nav-item dropdown"
                th:if="${userRoles != null and (#lists.contains(userRoles, 'ROLE_ADMIN') or #lists.contains(userRoles, 'ROLE_USER_ADMIN'))}">
                <a href="#" class="nav-link dropdown-toggle text-dark fw-semibold px-1 py-1" data-bs-toggle="dropdown">
                    <i class="fa fa-file-alt me-2 py-1"></i>權限管理
                </a>
                <div class="dropdown-menu bg-transparent border-0 py-1">
                    <a th:href="@{'/permission/create_user'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>新增使用者</a>
                    <a th:href="@{'/permission/manage_user'}" class="nav-item nav-link px-1 py-1"><i
                            class="fa fa-laptop me-2"></i>管理使用者</a>
                </div>
            </div>

        </div>
    </nav>
</div>