<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>SIP.com 會員-訂單明細</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <div th:replace="~{customerNavbar/customerNavbar_1}"></div>

</head>

<body>
    <div th:replace="~{customerNavbar/customerNavbar_2}"></div>
    <!-- Content Start -->
    <div class="content">
        <div th:replace="~{customerNavbar/customerNavbar_3}"></div>
        <div class="cotainer-fluid pt-4 px-4 fs-6 fw-bold ">
            <div class="bg-light rounded p-4">
                <table class="table text-dark">
                    <tr>
                        <th>訂單編號 orderID</th>
                        <td th:text="${orderTable.orderID}"></td>
                    </tr>
                    <tr>
                        <th>住客名子 Customer Name</th>
                        <td th:text="${orderTable.firstName+'&nbsp;&nbsp;&nbsp;&nbsp;'+orderTable.lastName}"></td>
                    </tr>
                    <tr>
                        <th>電子郵件email</th>
                        <td th:text="${orderTable.email}"></td>
                    </tr>
                    <tr>
                        <th>訂單狀態 Order Status</th>
                        <td th:text="${orderTable.orderStatus}"></td>
                    </tr>
                    <tr>
                        <th>訂單金額 Price</th>
                        <td th:text="${orderTable.orderPrice}"></td>
                    </tr>
                    <tr>
                        <th>支付方式 Payment</th>
                        <td th:text="${orderTable.payment == 'cash' ? '現金' : orderTable.payment}"></td>
                    </tr>
                    <tr>
                        <th>入住人數 Number of People</th>
                        <td th:text="${orderTable.numPeople}"></td>
                    </tr>
                    <tr>
                        <th>入住日期 Check-In Date</th>
                        <td th:text="${#dates.format(orderTable.checkInDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    <tr>
                        <th>退房日期 Check-Out Date</th>
                        <td th:text="${#dates.format(orderTable.checkOutDate, 'yyyy-MM-dd')}"></td>
                    </tr>
                    <tr>
                        <th>飯店</th>
                        <td th:text="${orderTable.hotel.hotelName}"></td>
                    </tr>
                    <tr>
                        <th>地址</th>
                        <td
                            th:text="${orderTable.hotel.country} + ', ' + ${orderTable.hotel.city} + ', ' + ${orderTable.hotel.region} + ', ' + ${orderTable.hotel.street}">
                        </td>
                    </tr>
                    <tr>
                        <th>評分 Evaluation</th>
                        <td th:text="${orderTable.evaluation}"></td>
                    </tr>
                    <tr>
                        <th>顧客評論 Comment</th>
                        <td th:text="${orderTable.comment}"></td>
                    </tr>
                </table>
                <table class="table text-dark">
                    <thead>
                        <tr>
                            <th>預定房型</th>
                            <th>可入住人數</th>
                            <th>預訂房間數量</th>
                            <th>價錢</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="orderItem : ${orderTable.orderItems}">
                            <td th:text="${orderItem.room.productName}"></td>
                            <td th:text="${orderItem.room.capacity}"></td>
                            <td th:text="${orderItem.quantity}"></td>
                            <td th:text="${orderItem.orderItemPrice}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Content End -->


    <div th:replace="~{customerNavbar/customerNavbar_4}"></div>
    <div th:replace="~{customerNavbar/customerNavbar_5}"></div>
    <script>
        $(document).ready(function () {
        });

    </script>
</body>

</html>