<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>SIP.com -預覽房間</title>
	<div th:replace="~{backStageNavbar/backStageNavbar_1}"></div>
</head>

<body>
	<div th:replace="~{backStageNavbar/backStageNavbar_2}"></div>
	<div class="content">
		<div th:replace="~{backStageNavbar/backStageNavbar_3}"></div>
		<div class="container-fluid pt-4 px-4">
			<div class="row g-4 h6">
				<div class="col-sm-12 col-md-6">
					<div class="bg-light rounded h-100 p-5">
						<h6 class="mb-4">預覽房間</h6>
						<div class="mb-3">
							<label for="productName" class="form-label">產品名稱:</label>
							<input type="text" id="productName" name="productName" class="form-control small-input"
								th:value="${room.productName}" readonly>
						</div>
						<div class="mb-3">
							<label for="productType" class="form-label">房間類型:</label>
							<input type="text" id="productType" name="productType" class="form-control small-input"
								th:value="${room.productType}" readonly>
						</div>
						<div class="mb-3">
							<label for="price" class="form-label">價格(可至管理庫存 調整每日售價):</label>
							<input type="number" id="price" name="price" class="form-control small-input"
								th:value="${room.price}" readonly>
						</div>
						<div class="mb-3">
							<label for="dateEnd" class="form-label">圖片預覽:</label>
						</div>
						<div class="mb-3" th:each="roompicture : ${room.roomPictures}"
							style="display: inline-block; border-bottom: 2px solid #ddd; padding-bottom: 10px;">
							<img th:src="@{'/room/roompicture?imgID=' + ${roompicture.imgID}}" alt="Room Image"
								style="max-width: 200px; max-height: 200px; margin-right: 20px;" />
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<div class="bg-light rounded h-100 p-5 ">
						<div class="mb-3">
							<label for="capacity" class="form-label">房間最多容納人數:</label>
							<input type="number" id="capacity" name="capacity" required class="form-control small-input"
								th:value="${room.capacity}" readonly>
						</div>
						<div class="mb-3">
							<label for="checkInTime" class="form-label">入住時間:</label>
							<input type="text" id="checkInTime" name="checkInTime" required
								class="form-control small-input" th:value="${room.checkInTime}" readonly>
						</div>
						<div class="mb-3">
							<label for="checkOutTime" class="form-label">退房時間:</label>
							<input type="text" id="checkOutTime" name="checkOutTime" required
								class="form-control small-input" th:value="${room.checkOutTime}" readonly>
						</div>
						<div class="mb-3 form-check form-switch">
							<label for="childExtraBed" class="form-label">是否提供兒童加床</label>
							<input type="checkbox" id="childExtraBed" name="childExtraBed" class="form-check-input"
								th:checked="${room.childExtraBed}">
						</div>
						<div class="mb-3">
							<label for="childrenPrice" class="form-label">兒童加床的價格:</label>
							<input type="number" id="childrenPrice" name="childrenPrice"
								class="form-control small-input" th:value="${room.childrenPrice}" readonly>
						</div>
						<div class="mb-3">
							<label for="age" class="form-label">兒童加床的使用限制年齡:</label>
							<input type="number" id="age" name="age" class="form-control small-input"
								th:value="${room.age}" readonly>
						</div>
						<div class="mb-3 form-check form-switch">
							<label for="privateBathroom" class="form-label">是否有獨立衛生間</label>
							<input type="checkbox" id="privateBathroom" name="privateBathroom" required
								class="form-check-input" th:checked="${room.privateBathroom}">
						</div>
						<div class="mb-3 form-check form-switch">
							<label for="showerRoom" class="form-label">是否有淋浴房</label>
							<input type="checkbox" id="showerRoom" name="showerRoom" required class="form-check-input"
								th:checked="${room.showerRoom}">
						</div>
						<div class="mb-3">
							<label for="productDescription" class="form-label">產品描述:</label>
							<textarea id="productDescription" name="productDescription" rows="6" cols="50"
								class="form-control" th:text="${room.productDescription}" readonly></textarea><br><br>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer --><!-- Back to Top -->
	<div th:replace="~{backStageNavbar/backStageNavbar_4}"></div>
	<!-- scriptNavbar -->
	<div th:replace="~{backStageNavbar/backStageNavbar_5}"></div>
</body>

</html>