<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a th:href="@{/sipIndex}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">SIP.com</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img id="userImage" class="rounded-circle" th:src="@{/customer/customerPicture}" alt="User Image"
                    style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0" th:text="${session.customerloginName}"></h6>
                <span th:text="'ID:'+${session.customerLoginId}"></span>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a th:href="@{/customer/dashboard}" class="nav-item nav-link "><i
                    class="fa fa-tachometer-alt me-2"></i>會員首頁</a>
            <a th:href="@{/customer/setaccount}" class="nav-item nav-link"><i class="fa fa-laptop me-2"></i>帳號設定</a>
            <a th:href="@{/customer/customerdetail}" class="nav-item nav-link"><i class="fa fa-user me-2"></i>基本資料</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-file-alt me-2"></i>訂單管理</a>

                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{/customer/expiredOrders}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>過往的旅程</a>
                    <a th:href="@{/customer/activeOrders}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>進行中的旅程</a>
                    <a th:href="@{/customer/upcomingOrders}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>即將到來的旅程</a>
                    <a th:href="@{/customer/findCanceledOrders}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>取消的旅程</a>
                </div>
            </div>

        </div>
    </nav>
</div>
<!-- Sidebar End -->