<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>SIP.com - 忘記密碼</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <div th:replace="~{backStageNavbar/backStageNavbar_1}"></div>
</head>

<body style="background-image: url('../img/IMG_9852.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="#">
                                <h3 class="text-primary">SIP.com</h3>
                            </a>
                            <h3>忘記密碼</h3>
                        </div>

                        <form id="checkEmail" method="post">
                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control" id="floatingInput"
                                    placeholder="name@example.com" required>
                                <label for="floatingInput">Email</label>
                            </div>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="送出" />
                        </form>
                        <!-- 提示 -->
                        <p style="color:green;text-align: center;" th:text="${mailMsg}?${mailMsg}"></p>
                        <p style="color:red ;text-align: center;" id="errMsg"></p>

                        <p class="text-center mb-0"> 返回 <a th:href="@{/hotel/login}">登入</a></p>

                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->

    </div>

    <!-- scriptNavbar -->
    <div th:replace="~{backStageNavbar/backStageNavbar_5}"></div>
    <script>
        $(document).ready(function () {
            $('#checkEmail').submit(function (event) {
                event.preventDefault();  // 取消submit預設動作

                // 取得Form資料
                const formData = $(this).serialize();
                Swal.fire({
                    title: "發送中...",
                    text: "請稍候",
                    icon: "info",
                    allowOutsideClick: false, // 禁止點擊背景關閉
                    allowEscapeKey: false, // 禁止按下 ESC 鍵關閉
                    allowEnterKey: false, // 禁止按下 Enter 鍵關閉
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading(); // 顯示Loading
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '/sip/hotel/forget_password',
                    data: formData,
                    headers: {
                        'X-CSRF-TOKEN': $('input[name=_csrf]').val()
                    },
                    success: function (response) {
                        console.log('loginForm success:', response);

                        if (response === 'Y') {
                            Swal.fire({
                                icon: "success",
                                title: "驗證碼已發送",
                                showConfirmButton: false,
                            })
                            $('#errMsg').html(null);
                            window.location.href = '/sip/hotel/reset_password';
                        }
                        if (response === 'N') {
                            Swal.fire({
                                icon: "error",
                                title: "此帳號尚未註冊",
                                showConfirmButton: false,
                            })
                            $('#errMsg').html('此信箱尚未註冊');
                        }
                    },
                    error: function (error) {
                        console.error('AJAX error:', error);
                    }
                });
            });
        });
    </script>
</body>

</html>