<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/logo/logo.png}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/jquery-ui-1.13.2/jquery-ui.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <title>SIP.com - 註冊會員</title>
    <link th:href="@{/css/creatCustomer.css}" rel="stylesheet">
</head>

<body>
    <!-- multistep form -->
    <form id="msform" th:action="@{/customer/register}" method="post">
        <!-- progressbar -->
        <ul id="progressbar">
            <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title">創建SIP.com 會員帳號</h2>
            <h3 class="fs-subtitle">設定帳號</h3>
            <label for="email">Email:</label>
            <input type="hidden" id="lineID" name="lineID" th:value="${session.lineID}">
            <input type="text" name="email" id="Email" th:value="${session.registerMail}" />
            <span id="showErroEmail"></span> <!-- 顯示錯誤訊息 -->
            <label for="Password">密碼:</label>
            <input type="password" name="pass" placeholder="Password" id="Password" /><br>
            <span id="showErroPassword"></span> <!-- 顯示錯誤訊息 -->
            <label for="confirmPassword">確認密碼:</label>
            <input type="password" name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" /><br>
            <span id="passwordMatchError"></span> <!-- 顯示錯誤訊息 -->
            <input type="button" name="next" class=" action-button" value="顯示密碼" id="showPasswordButton" />
            <input type="button" name="next" class="next action-button2" value="下一步" /><br>
            <!-- 設定按鈕next -->
        </fieldset>

        <fieldset>
            <h2 class="fs-title">Customer</h2>
            <h2 class="fs-title">設定登入資訊</h2>
            <label for="CustomerName">使用者姓名:</label>
            <input type="text" name="CustomerName" placeholder="使用者姓名" id="CustomerName" /><br>
            <span id="CustomerNameError"></span> <!-- 顯示錯誤訊息 -->
            <label for="selectedDate">生日:</label>
            <input type="date" class="flatpickr" id="selectedDate" name="birthday"><br>
            <span id="selectedDateError"></span>
            <label for="sex">性別:</label>
            <select name="sex" id="sex">
                <option value="男">男</option>
                <option value="女">女</option>
                <!-- 添加更多选项 -->
            </select><br>
            <input type="button" name="previous" class="previous action-button" value="上一步" />
            <input type="button" name="next2" class="next2 action-button2" value="下一步" />
            <!-- 設定按鈕next2 -->
        </fieldset>
        <fieldset>
            <h2 class="fs-title">Customer Details</h2>
            <h3 class="fs-subtitle">設定詳細資訊</h3>
            <label for="country">國家:</label>
            <select name="country" id="country">
                <option value="台灣">台灣</option>
            </select><br>
            <div class="twzipcode">
                <label for="city">城市:</label>
                <select data-role="county" name="city" id="city"></select>
                <span id="cityError"></span> <!-- 顯示錯誤訊息 -->
                <label for="region">鄉鎮:</label>
                <select data-role="district" name="region" id="region"></select>
                <label for="postalCode">郵遞區號:</label>
                <input type="text" readonly data-role="zipcode" name="postalCode" id="postalCode" placeholder="郵遞區號" />
            </div>
            <label for="street">街區:</label>
            <input type="text" name="street" placeholder="街區" id="street" /><br>
            <span id="streetError"></span> <!-- 顯示錯誤訊息 -->
            <label for="tel">電話:</label>
            <input type="text" name="tel" placeholder="電話" id="tel" /><br>
            <span id="telError"></span> <!-- 顯示錯誤訊息 -->
            <input type="button" name="previous" class="previous action-button" value="上一步" />
            <input type="submit" name="submit" class="submit action-button2" value="創建帳號" />
            <!-- 設定按鈕next3 -->
        </fieldset>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/jquery-ui-1.13.2/jquery-ui.js}"></script>
    <script src="https://code.essoduke.org/js/twzipcode/twzipcode.latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#selectedDate", {
            dateFormat: "Y-m-d", // 設定日期格式
            // 這裡可以添加其他選項以自訂日期選擇器的外觀和功能
        });

        document.getElementById("showPasswordButton").addEventListener("click", function () {
            var showPasswordButton = document.getElementById("showPasswordButton");
            var passwordInput = document.getElementById("Password");
            var confirmPasswordInput = document.getElementById("confirmPassword");
            if (passwordInput.type === "password" && confirmPasswordInput.type === "password") {
                passwordInput.type = "text";
                confirmPasswordInput.type = "text";
                showPasswordButton.value = "隱藏密碼";
            } else {
                passwordInput.type = "password";
                confirmPasswordInput.type = "password";
                showPasswordButton.value = "顯示密碼";
            }
        });


        const twzipcode = new TWzipcode();


        var emailInput = document.getElementById('Email');
        var passwordInput = document.getElementById('Password');
        var confirmPasswordInput = document.getElementById('confirmPassword');
        var showErroEmail = document.getElementById('showErroEmail');
        var showErroPassword = document.getElementById('showErroPassword');
        var passwordMatchError = document.getElementById('passwordMatchError');
        var loginNameInput = document.getElementById('CustomerName');
        var loginNameError = document.getElementById('CustomerNameError');
        var selectedDateInput = document.getElementById('selectedDate');
        var selectedDateError = document.getElementById('selectedDateError');
        var cityInput = document.getElementById('city');
        var cityError = document.getElementById('cityError');
        var streetInput = document.getElementById('street');
        var streetError = document.getElementById('streetError');
        var telInput = document.getElementById('tel');
        var telError = document.getElementById('telError');

        // 添加密碼輸入事件
        passwordInput.addEventListener('input', validatePassword);
        confirmPasswordInput.addEventListener('input', validateConfirmPassword);
        // 添加email输入事件
        emailInput.addEventListener('input', validateEmail);
        // 添加使用者名子输入事件
        loginNameInput.addEventListener('input', validateLoginName);
        // 添加飯店名子输入事件
        selectedDateInput.addEventListener('input', validateSelectedDate);
        // 添加城市输入事件
        cityInput.addEventListener('input', validateCity);
        // 添加地址输入事件
        streetInput.addEventListener('input', validateStreet);
        // 添加電話输入事件
        telInput.addEventListener('input', validateTel);

        function validateEmail() {
            var email = emailInput.value;
            var emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            if (email.trim() === '') {
                // 信箱輸入為空白
                showErroEmail.style.display = 'block';
                showErroEmail.textContent = '請填入完整電子郵件';
                return false; //輸入錯誤
            } else if (!emailRegex.test(email)) {
                // 信箱格式不正確
                showErroEmail.style.display = 'block';
                showErroEmail.textContent = '請输入有效的電子郵件';
                return false; //輸入錯誤
            } else {
                showErroEmail.style.display = 'none';
                showErroEmail.textContent = '';
                return true; // 正確
            }
        }




        var passwordRequirements = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$/;
        function validatePassword() {

            var password = passwordInput.value;
            console.log(password)
            if (password.trim() === '') {
                showErroPassword.style.display = 'block';
                showErroPassword.textContent = '請輸入密碼';
                return false; //輸入錯誤
            } else if (!passwordRequirements.test(password)) {
                showErroPassword.style.display = 'block';
                showErroPassword.textContent = '必須包含至少一個數字和一個字母和一個大寫字母，且至少6個字符';
                return false; //輸入錯誤
            } else {
                console.log("ture")
                showErroPassword.style.display = 'none';
                showErroPassword.textContent = '';
                return true; // 正確
            }
        }

        function validateConfirmPassword() {
            var password = passwordInput.value;
            var confirmPassword = confirmPasswordInput.value;
            if (confirmPassword.trim() === '') {
                passwordMatchError.style.display = 'block';
                passwordMatchError.textContent = '確認密碼';
                return false; //輸入錯誤
            } else if (password !== confirmPassword) {
                passwordMatchError.style.display = 'block';
                passwordMatchError.textContent = '確認密碼錯誤';
                return false; //輸入錯誤
            } else {
                passwordMatchError.style.display = 'none';
                passwordMatchError.textContent = '';
                return true; // 正確
            }
        }

        function validateLoginName() {
            var loginNameRegex = /^[a-zA-Z0-9\s\u4e00-\u9fa5]+$/;
            var loginName = loginNameInput.value;

            if (loginName.trim() === '') {
                loginNameError.style.display = 'block';
                loginNameError.textContent = '請填入完整資料';
                return false; //輸入錯誤
            } else if (!loginNameRegex.test(loginName)) {
                loginNameError.style.display = 'block';
                loginNameError.textContent = '不能特殊符號';
                return false; //輸入錯誤
            } else {
                loginNameError.style.display = 'none';
                loginNameError.textContent = '';
                return true;
            }
        }

        function validateSelectedDate() {
            var selectedDate = selectedDateInput.value;
            console.log(selectedDate);
            if (selectedDate.trim() === '') {
                selectedDateError.style.display = 'block';
                selectedDateError.textContent = '請填入完整資料';
                return false; //輸入錯誤
            } else {
                selectedDateError.style.display = 'none';
                selectedDateError.textContent = '';
                return true;
            }
        }

        function validateCity() {
            var city = cityInput.value;
            if (city.trim() === '') {
                cityError.style.display = 'block';
                cityError.textContent = '請填入完整資料';
                return false; //輸入錯誤
            } else {
                cityError.style.display = 'none';
                cityError.textContent = '';
                return true;
            }
        }

        function validateStreet() {
            var addressRegex = /^[a-zA-Z0-9\s\u4e00-\u9fa5#.,-]+$/;
            var street = streetInput.value;
            if (street.trim() === '') {
                streetError.style.display = 'block';
                streetError.textContent = '請填入完整資料';
                return false; //輸入錯誤
            } else if (!addressRegex.test(street)) {
                streetError.style.display = 'block';
                streetError.textContent = '格式錯誤';
                return false; //輸入錯誤
            } else {
                streetError.style.display = 'none';
                streetError.textContent = '';
                return true;
            }
        }

        function validateTel() {
            var tel = telInput.value;
            if (tel.trim() === '') {
                telError.style.display = 'block';
                telError.textContent = '請填入完整資料';
                return false; //輸入錯誤
            } else {
                telError.style.display = 'none';
                telError.textContent = '';
                return true;
            }
        }



        // 驗證第一頁數據
        function validateData() {
            var isEmailMatch = validateEmail();
            var isPasswordMatch = validatePassword();
            var isConfirmPassword = validateConfirmPassword();
            if (isPasswordMatch && isEmailMatch && isConfirmPassword) {
                // 驗證成功
                return true;
            } else {
                // 驗證失敗，返回false
                console.log("ssss")
                return false;
            }
        }

        // 驗證第二頁數據
        function validateData2() {
            var isloginName = validateLoginName();
            var isSelectedDate = validateSelectedDate();
            if (isSelectedDate && isloginName) {
                // 驗證成功
                return true;
            } else {
                // 驗證失敗，返回false
                return false;
            }
        }

        // 驗證第三頁數據
        function validateAndSubmit() {
            var isCity = validateCity();
            var isStreet = validateStreet();
            var isTel = validateTel()
            if (isCity && isStreet && isTel) {
                // 驗證成功
                return true;
            } else {
                // 驗證失敗，返回false
                return false;
            }
        }

        //jQuery time
        var current_fs, next_fs, previous_fs; //fieldsets
        var left, opacity, scale; //fieldset properties which we will animate
        var animating; //flag to prevent quick multi-click glitches

        //檢查第一頁跳第二頁
        $(".next").click(function () {

            if (!validateData()) {
                return false; // 數據驗證失敗按鈕無法下一步
            }
            navigateToNextStep($(this))
        }
        );
        //檢查第二頁跳第三頁
        $(".next2").click(function () {

            if (!validateData2()) {
                return false; // 數據驗證失敗按鈕無法下一步
            }
            navigateToNextStep($(this))
        }
        );
        //檢查第三頁傳送數據
        $(".submit").click(function () {
            if (!validateAndSubmit()) {
                return false; // 數據驗證失敗按鈕無法下一步
            }
        }
        );



        //jequery特效
        function navigateToNextStep(button) {
            // 開始介面導航特效
            if (animating) return false;
            animating = true;

            current_fs = button.parent(); // 使用傳遞的按鈕參數來取得父元素
            next_fs = button.parent().next();

            // 啟動進度列上的下一步
            $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

            // 顯示下一個欄位集
            next_fs.show();
            // 以動畫方式隱藏目前欄位集
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    // 目前字段集的不透明度降低到0 - 儲存在「now」中
                    // 1. 將目前欄位集縮小為80%
                    scale = 1 - (1 - now) * 0.2;
                    // 2. 從右邊將下一個欄位集帶出（50%）
                    left = (now * 50) + "%";
                    // 3. 增加下一個欄位集的不透明度到1，使其移入
                    opacity = 1 - now;
                    current_fs.css({
                        'transform': 'scale(' + scale + ')',
                        'position': 'absolute'
                    });
                    next_fs.css({ 'left': left, 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                // 此內容來自自訂緩動插件
                easing: 'easeInOutBack'
            });
            loginNameError.style.display = 'none';
            selectedDateError.style.display = 'none';
            cityError.style.display = 'none';
            streetError.style.display = 'none';
            telError.style.display = 'none';

        }

        $(".previous").click(function () {
            isPasswordMatch = false;
            isEmailMatch = true;

            if (animating) return false;
            animating = true;

            current_fs = $(this).parent();
            previous_fs = $(this).parent().prev();

            //de-activate current step on progressbar
            $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

            //show the previous fieldset
            previous_fs.show();
            //hide the current fieldset with style
            current_fs.animate({ opacity: 0 }, {
                step: function (now, mx) {
                    //as the opacity of current_fs reduces to 0 - stored in "now"
                    //1. scale previous_fs from 80% to 100%
                    scale = 0.8 + (1 - now) * 0.2;
                    //2. take current_fs to the right(50%) - from 0%
                    left = ((1 - now) * 50) + "%";
                    //3. increase opacity of previous_fs to 1 as it moves in
                    opacity = 1 - now;
                    current_fs.css({ 'left': left });
                    previous_fs.css({ 'transform': 'scale(' + scale + ')', 'opacity': opacity });
                },
                duration: 800,
                complete: function () {
                    current_fs.hide();
                    animating = false;
                },
                //this comes from the custom easing plugin
                easing: 'easeInOutBack'
            });
        });
    </script>
</body>

</html>