<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">


<head>
    <meta charset="utf-8">
    <title>SIP.com 會員</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <style>
        .small-input {
            width: 300px;
            /* 自定義的寬度，可以根據需要調整 */
        }
    </style>
    <div th:replace="~{customerNavbar/customerNavbar_1}"></div>
</head>

<body>
    <div th:replace="~{customerNavbar/customerNavbar_2}"></div>
    <!-- Content Start -->
    <div class="content">
        <div th:replace="~{customerNavbar/customerNavbar_3}"></div>
        <!-- Sale & Revenue Start -->
        <form th:action="@{/customer/updateCustomer}" method="post">
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4 h6">
                    <div class="col-sm-12 col-md-6">
                        <div class="bg-light rounded h-100 p-5 ">
                            <h6 class="mb-4">會員基本資料</h6>
                            <div class="mb-3">
                                <label for="CustomerName" class="form-label">使用者姓名:</label>
                                <input type="text" class="form-control small-input text-dark" id="CustomerName"
                                    name="CustomerName" th:value="${customer.customerName}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="selectedDate" class="form-label">生日:</label>
                                <input type="text" class="form-control small-input text-dark " name="birthday"
                                    th:value="${Birthday}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="sex" class="form-label">性別:</label>
                                <input type="text" class="form-control small-input text-dark" id="sex" name="sex"
                                    th:value="${customer.sex}" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="tel" class="form-label">電話</label>
                                <input type="text" class="form-control small-input text-dark" id="tel" name="tel"
                                    th:value="${customer.phone}" readonly />
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="bg-light rounded h-100 p-5">

                            <div class="mb-3">
                                <label for="country" class="form-label">國家</label>
                                <input type="text" class="form-control small-input text-dark" id="country"
                                    name="country" th:value="${customer.country}" readonly />
                            </div>
                            <div class="mb-3">
                                <label for="city" class="form-label">城市</label>
                                <input type="text" class="form-control small-input text-dark" id="city" name="country"
                                    th:value="${customer.city}" readonly />
                            </div>
                            <div class="mb-3">
                                <label for="region" class="form-label">鄉鎮</label>
                                <input type="text" class="form-control small-input text-dark" id="region" name="country"
                                    th:value="${customer.region}" readonly />
                            </div>
                            <div class="mb-3">
                                <label for="postalCode" class="form-label ">郵遞區號</label>
                                <input type="text" class="form-control small-input text-dark" id="postalCode"
                                    name="country" th:value="${customer.postalCode}" readonly />
                            </div>

                            <div class="mb-3">
                                <label for="street" class="form-label">詳細地址</label>
                                <input type="text" name="street" placeholder="詳細地址" id="street"
                                    class="form-control small-input text-dark" th:value="${customer.street}" readonly />
                            </div>
                            <button type="submit" class="submit btn btn-primary m-2">修改</button>
                        </div>
                    </div>
                    <input type="hidden" readonly name="customerLoginId" class="form-control" id="customerLoginId"
                        th:value="${session.customerLoginId}">
                </div>
            </div>
        </form>
    </div>
    <!-- Content End -->
    <div th:replace="~{customerNavbar/customerNavbar_4}"></div>
    <!-- scriptNavbar -->
    <div th:replace="~{customerNavbar/customerNavbar_5}"></div>

    <script>
        flatpickr("#selectedDate", {
            dateFormat: "Y-m-d", // 設定日期格式
            // 這裡可以添加其他選項以自訂日期選擇器的外觀和功能
        });
    </script>
</body>

</html>