<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html lang="en">
<!-- logo -->
<link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/logo/logo.jpg}" />

<head>
    <meta charset="UTF-8">
    <title>SIP-LineLogin</title>

    <style>
        html {
            background-image: url([[@{/assets/logo/logo.jpg}]]);
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 50%;
        }
    </style>
</head>

<body>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <!-- Thymeleaf 提供了一個內建的物件 ${param}，可以直接從當前的 HTTP 請求中獲取參數值 -->
    <input type="hidden" id="lineLogin" th:value="${param.code}" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var lineLogin = $('#lineLogin').val(); //拿到內容
            console.log(lineLogin)
            var formData = {
                code: lineLogin,
            };
            $.ajax({
                type: 'POST',
                url: '/sip/customer/getLineInformation',
                data: formData,
                headers: {
                    'X-CSRF-TOKEN': $('input[name=_csrf]').val()
                }, success: function (response) {

                    //設定第二次回傳資料
                    var formData = {
                        id_token: response.id_token,
                        client_id: 2006237133
                    };
                    $.ajax({
                        type: 'POST',
                        url: 'https://api.line.me/oauth2/v2.1/verify',
                        contentType: 'application/x-www-form-urlencoded',
                        data: formData,
                        headers: {
                            'X-CSRF-TOKEN': $('input[name=_csrf]').val()
                        },
                        success: function (secondResponse) {
                            console.log('第二次請求成功:', secondResponse);
                            var LineID = secondResponse.aud;
                            var email = secondResponse.email;
                            console.log(LineID);
                            console.log(email);
                            $.ajax({
                                type: 'POST',
                                url: '/sip/customer/createline',
                                data: { email: email, aud: LineID },
                                headers: {
                                    'X-CSRF-TOKEN': $('input[name=_csrf]').val()
                                },
                                success: function (thirdResponse) {
                                    console.log('第三次請求成功:', thirdResponse);
                                    if (thirdResponse.status === "N")
                                        window.location.href = '/sip/customer/register?LineID=' + LineID + '&email=' + email;
                                    else if (thirdResponse.status === "Y") {
                                        localStorage.setItem('jwtToken', thirdResponse.token);
                                        document.cookie = `Authorization=${thirdResponse.token}; path=/; secure; SameSite=Strict`;
                                        window.location.href = '/sip/sipIndex';
                                    }
                                    else if (thirdResponse.status === "bindLineID") {
                                        window.location.href = '/sip/customer/bindLine_checkPwd';
                                    }
                                    else if (thirdResponse.status === 'Booking3') {
                                        window.location.href = '/sip/index/booking3';
                                    }
                                },
                                error: function (thirddError) {
                                    console.error('第三次請求失败:', thirdError);
                                }
                            });

                        },
                        error: function (secondError) {
                            console.error('第二次請求失败:', secondError);
                        }
                    });

                },
                error: function (error) {
                    console.error('POST请求失败:', error);
                }
            });

        });
    </script>
</body>

</html>