<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>SIP.com - 註冊會員</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <div th:replace="~{customerNavbar/customerNavbar_1}"></div>
</head>

<body style="background-repeat: no-repeat; background-size: cover; background-image: url('../img/customer.jpg');">
    <div class="container-fluid position-relative d-flex p-0">
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="#">
                                <h3 class="text-primary">SIP.com</h3>
                            </a>
                            <h3>註冊帳號</h3>
                        </div>

                        <form id="checkEmailForm" method="post">
                            <div class="form-floating mb-3">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <input type="email" name="email" class="form-control" id="floatingInput1"
                                    placeholder="name@example.com" required>
                                <label for="floatingInput1">Email</label>
                            </div>
                            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="送出" />
                        </form>



                        <form id="checkCodeForm" method="post" hidden>
                            <div class="form-floating mb-3">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <input type="text" name="verificationCode" class="form-control" id="floatingInput"
                                    placeholder="123456" required>
                                <label for="floatingInput">驗證碼</label>
                            </div>
                            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="送出" />
                        </form>



                        <!-- 提示 -->
                        <p style="color:green;text-align: center;" id="mailMsg"></p>
                        <p style="color:red ;text-align: center;" id="errMsg" th:text="${errMsg}?${errMsg}"></p>

                        <p class="text-center mb-0"> 返回 <a th:href="@{/customer/login}">登入</a></p>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div th:replace="~{customerNavbar/customerNavbar_5}"></div>
    <script>
        $(document).ready(function () {
            //驗證信箱可用
            $('#checkEmailForm').submit(function (event) {
                event.preventDefault();  // 取消submit預設動作

                // 取得Form資料
                const formData = $(this).serialize();
                Swal.fire({
                    title: "發送中...",
                    text: "請稍候",
                    icon: "info",
                    allowOutsideClick: false, // 禁止點擊背景關閉
                    allowEscapeKey: false, // 禁止按下 ESC 鍵關閉
                    allowEnterKey: false, // 禁止按下 Enter 鍵關閉
                    showConfirmButton: false,
                    willOpen: () => {
                        Swal.showLoading(); // 顯示Loading
                    }
                });
                $.ajax({
                    type: 'POST',
                    url: '/sip/customer/startRegister',
                    data: formData,
                    headers: {
                        'X-CSRF-TOKEN': $('input[name=_csrf]').val()
                    },
                    success: function (response) {
                        console.log('checkEmailForm success:', response);

                        if (response === 'Y') {
                            Swal.fire({
                                icon: "success",
                                title: "驗證碼已發送",
                                showConfirmButton: false,
                            })
                            $('#checkEmailForm').prop('hidden', true);
                            $('#checkCodeForm').prop('hidden', false);
                            $('#errMsg').html(null);
                            $('#mailMsg').html('驗證碼已發送至' + $('input[name=email]').val());
                        }
                        if (response === 'N') {
                            Swal.fire({
                                icon: "error",
                                title: "此帳號無法使用",
                                showConfirmButton: false,
                            })
                            $('#errMsg').html('此帳號無法使用');
                        }
                    },
                    error: function (error) {
                        console.error('AJAX error:', error);
                    }
                });
            });

            //驗證碼
            $('#checkCodeForm').submit(function (event) {
                event.preventDefault();
                const formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: '/sip/customer/registerCode',
                    data: formData,
                    headers: {
                        'X-CSRF-TOKEN': $('input[name=_csrf]').val()
                    },
                    success: function (response) {
                        console.log('checkCodeForm success:', response);

                        if (response === 'Y') {
                            $('#checkEmailForm').prop('hidden', true);
                            $('#checkCodeForm').prop('hidden', true);
                            //導向註冊
                            window.location.href = '/sip/customer/register';
                        }
                        if (response === 'N') {
                            $('#errMsg').html('驗證碼錯誤');
                        }
                    },
                    error: function (error) {
                        console.error('AJAX error:', error);
                    }
                });
            });
        });
    </script>
</body>

</html>