<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>SIP.com - 重設密碼</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <div th:replace="~{customerNavbar/customerNavbar_1}"></div>
</head>

<body style="background-image: url('../img/customer.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <a href="#">
                                <h3 class="text-primary">SIP.com</h3>
                            </a>
                            <h3>重設密碼</h3>
                        </div>

                        <form th:action="@{/customer/reset_password}" th:method="PUT">
                            <div class="form-floating mb-3">
                                <input type="text" name="verificationCode" class="form-control" id="floatingInput1"
                                    required />
                                <label for="floatingInput1">驗證碼</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="password" name="newPwd" class="form-control" id="newPassword" required />
                                <label for="newPassword">新密碼</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" name="rePwd" class="form-control" id="confirmPassword"
                                    required />
                                <label for="confirmPassword">請重複輸入密碼</label>
                            </div>
                            <input type="submit" id="submitButton" class="btn btn-primary py-3 w-100 mb-4" value="送出"
                                disabled />
                        </form>
                        <!-- 提示 -->
                        <p style="color:green;text-align: center;"
                            th:text="${session.resetMail}?'驗證碼已發送至'+${session.resetMail}"></p>
                        <p style="color:green;text-align: center;" th:text="${mailMsg}?${mailMsg}"></p>
                        <p style="color:red ;text-align: center;" th:text="${errMsg}?${errMsg}"></p>

                        <p class="text-center mb-0"> 返回 <a th:href="@{/customer/login}">登入</a></p>

                        <p class="text-center mb-0"> 沒有驗證碼? <a th:href="@{/customer/forget_password}">取得驗證碼</a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>
    <div th:replace="~{customerNavbar/customerNavbar_5}"></div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const newPasswordInput = document.getElementById('newPassword');
            const confirmPasswordInput = document.getElementById('confirmPassword');

            newPasswordInput.addEventListener('input', function () {
                checkPasswordsMatch();
            });

            confirmPasswordInput.addEventListener('input', function () {
                checkPasswordsMatch();
            });

            function checkPasswordsMatch() {
                const newPassword = newPasswordInput.value;
                const confirmPassword = confirmPasswordInput.value;
                const submitButton = document.getElementById('submitButton');

                if (newPassword === confirmPassword && newPassword !== '' && confirmPassword !== '') {
                    newPasswordInput.style.borderColor = 'green';
                    confirmPasswordInput.style.borderColor = 'green';
                    submitButton.removeAttribute('disabled');
                } else {
                    newPasswordInput.style.borderColor = 'red';
                    confirmPasswordInput.style.borderColor = 'red';
                    submitButton.setAttribute('disabled', 'true');
                }
            }
        });

    </script>
</body>

</html>