<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<!-- TITLE OF SITE -->
	<title>SIP-訂單明細</title>
	<div th:replace="~{indexNavbar/navbar1}"></div>
</head>
<style>
	input[readonly] {
		background-color: transparent !important;
	}

	.form-label {
		font-size: 18px;
		margin-bottom: 5px;
	}

	h4 {
		font-size: 18px;
		margin-bottom: 5px;
	}

	#paymentMethod {
		width: 20%;
		padding: 8px;
		border-radius: 8px;
	}
</style>

<body>
	<div th:replace="~{indexNavbar/navbar2}"></div>
	<section style="background-color: #f9f9f9;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="spacer" style="height: 20px;"></div>
				</div>
			</div>
		</div>
	</section>

	<!--travel-box start-->
	<section class="travel-box" style="background-color: #f9f9f9;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="">
						<div id="desc-tabs" class="desc-tabs">
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active fade in" id="booking">
									<div class="tab-para">

										<div class="mb-3">
											<label for="success" class="form-label" th:text="' 訂房成功'">訂房成功</label>
										</div>
										<br>
										<div class="mb-3">
											<label for="orderID" class="form-label"
												th:text="' 訂單編號: ' + ${orderTable.orderID}"></label>
										</div>
										<br>
										<div class="mb-3">
											<label for="lastName" class="form-label"
												th:text="'姓氏:&nbsp;' + ${orderTable.lastName}"></label>
										</div>
										<br>
										<div class="mb-3">
											<label for="firstName" class="form-label"
												th:text="'名子:&nbsp;' + ${orderTable.firstName}"></label>
										</div>
										<br>
										<div class="mb-3">
											<label for="email" class="form-label"
												th:text="' 電子郵件： ' + ${orderTable.email}">電子郵件：</label>
										</div>
										<br>
										<div class="mb-3">
											<label for="check-in" class="form-label"
												th:text="' 入住日期： ' + ${#dates.format(orderTable.checkInDate, 'yyyy-MM-dd')}">入住日期：</label>
										</div>
										<br>
										<div class="mb-3">
											<label for="check-out" class="form-label"
												th:text="' 退房日期： ' + ${#dates.format(orderTable.checkOutDate, 'yyyy-MM-dd')}">退房日期：</label>
										</div>
										<br>
										<div class="mb-3">
											<label for="hotelName" class="form-label"
												th:text="' 飯店： ' + ${orderTable.hotel.hotelName}">飯店</label>
										</div>
										<br>
										<th:block th:each="orderItem:${orderTable.orderItems}">
											<div class="mb-3">
												<label for="orderItem" class="form-label"
													th:text="${orderItem.room.productName + '&nbsp;&nbsp;&nbsp;&nbsp;數量: ' + orderItem.quantity+ '&nbsp;&nbsp;&nbsp;&nbsp;價錢: ' + orderItem.orderItemPrice}">room</label>
											</div>
											<br>
										</th:block>
										<div class="mb-3">
											<div class="mb-3">
												<label for="numPeople" class="form-label"
													th:text="${orderTable.numPeople+'位成人'}">numPeople</label>
											</div>
										</div>
										<br>
										<div class="mb-3">
											<label for="orderPrice" class="form-label"
												th:text="'總金額&nbsp;&nbsp;&nbsp;TWD'+${orderTable.orderPrice}">orderPrice</label>
										</div>
										<br>
										<div class="mb-3">
											<label for="payment" class="form-label">
												<span th:if="${orderTable.payment == 'cash'}">付款方式:現金付款</span>
												<span th:if="${orderTable.payment == 'creditCard'}">付款方式:刷卡付款</span>
											</label>
										</div>
										<br>
									</div><!--/.tab-para-->
								</div><!--/.tab-pane-->
							</div><!--/.desc-tabs-->
						</div><!--/.single-travel-box-->
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.container-->
	</section><!--/.travel-box-->



	<!--galley start-->
	<section id="gallery" class="gallery">
		<div class="container">
			<div class="gallery-details">
				<div class="gallary-header text-center">
					<h2>
						top destination
					</h2>
				</div><!--/.gallery-header-->
				<div class="gallery-box">
					<div class="gallery-content">
						<div class="filtr-container">
							<div class="row">

								<div class="col-md-6">
									<div class="filtr-item">
										<img src="../assets/images/gallary/taipei.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台北
											</a>
											<p><span>Taipei</span></p>
										</div><!-- /.item-title -->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-6">
									<div class="filtr-item">
										<img src="../assets/images/gallary/taichung.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台中
											</a>
											<p><span>Taichung</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="../assets/images/gallary/tainan.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台南
											</a>
											<p><span>Tainan</span></p>
										</div><!-- /.item-title -->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="../assets/images/gallary/taitung.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台東
											</a>
											<p><span>taitung</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="../assets/images/gallary/hualien.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												花蓮
											</a>
											<p><span>hualien</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-8">
									<div class="filtr-item">
										<img src="../assets/images/gallary/yilan.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												宜蘭
											</a>
											<p><span>yilan</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

							</div><!-- /.row -->
						</div><!-- /.filtr-container-->
					</div><!-- /.gallery-content -->
				</div><!--/.galley-box-->
			</div><!--/.gallery-details-->
		</div><!--/.container-->
	</section><!--/.gallery-->

	<div th:replace="~{indexNavbar/navbar3}"></div>
	<div th:replace="~{indexNavbar/navbar4}"></div>
</body>

</html>