<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>財產編號搜尋</title>
    <div th:replace="~{backStageNavbar/backStageNavbar_1}"></div>
    <style>
        .event-content {
            word-wrap: break-word;
            /* 遇到長字會換行 */
            word-break: break-word;
            /* 強制打斷字詞換行 */
            white-space: normal;
            /* 允許文字換行 */
            max-width: 400px;
            /* 設定寬度控制換行 */
        }

        .custom-btn {
            background-color: #1ab394;
            border-color: #1ab394;
            color: white;
            /* transition: color 0.3s ease, text-shadow 0.3s ease; */
            /* 平滑效果 */
        }

        .custom-btn:hover {
            color: white;
            /* 字體保持白色 */
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            /* 發光效果 */
            background-color: #18a383;
            /* 懸停時略微變化背景色 */
            border-color: #18a383;
        }

        .swal-popup-large {
            font-size: 50%;
            /* 增大字體大小 */
            height: 400px;
            /* 設定高度 */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swal-popup-large .swal2-actions button {
            font-size: 40px;
            /* 按鈕字體大小 */
            padding: 15px 30px;
            /* 按鈕大小 */
        }

        /* 給只讀狀態的欄位設置灰色背景 */
        .readonly-field {
            background-color: #e9ecef;
            color: #6c757d;
            cursor: not-allowed;

        }

        /* 可編輯時的樣式 */
        .editable-field {
            background-color: #ffffff;
            color: #212529;
            cursor: text;
        }
    </style>
</head>

<body>
    <!-- Content Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <form class="selectOrder">
                <!-- 搜索欄 -->
                <div class="row mb-3 align-items-center" style="height: 500px;">
                    <div class="col-12 text-start">
                        <label for="Search" class="col-form-label px-0 text-dark" style="font-size:58px;">
                            財產編號:&nbsp;&nbsp;
                        </label>
                    </div>
                    <div class="col-12">
                        <input class="form-control text-dark" type="search" id="select_propertyID" name="propertyID"
                            placeholder="輸入財產編號" style="height: 150px; font-size:58px;" th:value="${propertyID}">
                    </div>
                    <div class="col-12 mt-3">
                        <button type="button" id="searchButton" class="btn custom-btn w-100"
                            style="font-size: 58px; height: 100px;">
                            搜尋
                        </button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="container-fluid mt-4">
                <div class="bg-light rounded p-4">
                    <div class="row text-start">
                        <!-- 最終財產編號 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">最終財產編號:</span>
                            <input type="text" id="final_property_id" readonly class="readonly-field">
                        </div>
                        <!-- 名稱 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">名稱:</span>
                            <textarea id="name" rows="2" readonly
                                style="width: 100%;  resize: none; overflow-wrap: break-word;"
                                class="readonly-field"></textarea>
                        </div>
                        <!-- 放置處 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">放置處:</span>
                            <input type="text" id="location" readonly class="readonly-field">
                        </div>
                        <!-- 備註 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">備註:</span>
                            <textarea id="remarks" rows="2" readonly
                                style="width: 100%; resize: none; overflow-wrap: break-word;"
                                class="readonly-field"></textarea>
                        </div>
                        <!-- 保管人 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">保管人:</span>
                            <input type="text" id="custodian" readonly class="readonly-field">
                        </div>
                        <!-- 異動記錄 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">異動記錄:</span>
                            <textarea id="change_record" rows="2" readonly
                                style="width: 100%;   resize: none; overflow-wrap: break-word;"
                                class="readonly-field"></textarea>
                        </div>
                        <!-- 盤點狀態 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">盤點狀態:</span>
                            <button type="button" id="checkButton" class="btn custom-btn w-100"
                                style="font-size: 58px; height: 100px; display:none;">
                            </button>
                        </div>
                        <!-- 解鎖按鈕 -->
                        <div class="col-12 mt-4">
                            <button type="button" id="unlockButton" class="btn custom-btn w-100"
                                style="font-size: 58px; height: 100px; display: none;">
                                解鎖
                            </button>
                        </div>

                        <!-- 更新按鈕 -->
                        <div class="col-12 mt-4">
                            <button type="button" id="updateButton" class="btn custom-btn w-100"
                                style="font-size: 58px; height: 100px; display: none;">
                                更新
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
    <!-- scriptNavbar -->
    <div th:replace="~{backStageNavbar/backStageNavbar_5}"></div>
    <script>
        $(document).ready(function () {

            // 頁面加載時檢查是否已有 propertyID
            var propertyID = $("#select_propertyID").val();
            if (propertyID) {
                // 發送 AJAX 請求
                $.ajax({
                    url: "/chyunn/inventory/search",
                    method: "POST",
                    data: { final_property_id: propertyID },
                    success: function (response) {
                        if (response.code === 200) {
                            console.log(response)
                            $("#final_property_id").val(response.data.inventory.final_property_id);
                            $("#name").val(response.data.inventory.name);
                            $("#location").val(response.data.inventory.location);
                            $("#remarks ").val(response.data.inventory.remarks);
                            $("#custodian").val(response.data.inventory.custodian);
                            $("#change_record").val(response.data.inventory.change_record);

                            // 顯示解鎖按鈕
                            $("#unlockButton").show();

                            console.log(response.data.inventory.state)
                            // 根據盤點狀態更新按鈕顯示
                            if (response.data.inventory.state === false) {
                                // 盤點狀態為 false，顯示 "未盤點"
                                $("#checkButton").text("未盤點");
                                $("#checkButton").css({
                                    "background-color": "red",
                                    "color": "white"
                                });
                            } else if (response.data.inventory.state === true) {
                                // 盤點狀態為 true，顯示 "已盤點"
                                $("#checkButton").text("已盤點");
                                $("#checkButton").css({
                                    "background-color": "green",
                                    "color": "white"
                                });
                            }

                            // 顯示盤點狀態按鈕
                            $("#checkButton").show();
                        } else if (response.code === 404) {
                            Swal.fire({
                                icon: 'error',
                                title: '查無資料',
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '錯誤',
                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                        });
                        console.error(error);
                    }
                });

            }
            // 更新狀態事件
            $("#checkButton").on("click", function () {
                const propertyID = $("#select_propertyID").val(); // 每次點擊時重新讀取 propertyID

                // 先檢查按鈕文本是否為 "已盤點"
                if ($(this).text() === "已盤點" && $("#unlockButton").is(":visible")) {
                    Swal.fire({
                        icon: 'warning',
                        title: '未解鎖',
                        text: '請先點擊解鎖按鈕再進行狀態更改',
                    });
                    return; // 退出，不繼續執行後面的代碼
                }
                // 檢查解鎖按鈕是否開啟 只能更新成已盤點
                else if ($("#unlockButton").is(":visible")) {
                    $.ajax({
                        url: "/chyunn/inventory/updateState",
                        method: "PUT",
                        data: { final_property_id: propertyID },
                        success: function (response) {
                            if (response.code === 200) {
                                // 更新成功後，修改按鈕文本和顏色
                                $("#checkButton").text("已盤點");
                                $("#checkButton").css({
                                    "background-color": "green",
                                    "color": "white"
                                });
                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '更新失敗',
                                    text: '請稍後再試。',
                                });
                            }
                        },
                        error: function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: '發生錯誤',
                                text: '請稍後再試。',
                            });
                            console.error(error);
                        }
                    });
                    return;
                } else if ($("#unlockButton").is(":hidden")) {
                    //解鎖開關已隱藏 表示已解鎖 可再次更新成未盤點
                    $.ajax({
                        url: "/chyunn/inventory/updateState",
                        method: "PUT",
                        data: { final_property_id: propertyID },
                        success: function (response) {
                            if (response.code === 200) {
                                console.log(response)
                                if (response.state === false) {
                                    // 更新成功後，修改按鈕文本和顏色
                                    $("#checkButton").text("未盤點");
                                    $("#checkButton").css({
                                        "background-color": "red",
                                        "color": "white"
                                    });
                                } else {
                                    // 更新成功後，修改按鈕文本和顏色
                                    $("#checkButton").text("已盤點");
                                    $("#checkButton").css({
                                        "background-color": "green",
                                        "color": "white"
                                    });
                                }

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '更新失敗',
                                    text: '請稍後再試。',
                                });
                            }
                        },
                        error: function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: '發生錯誤',
                                text: '請稍後再試。',
                            });
                            console.error(error);
                        }
                    });
                    return; // 如果隱藏，則退出
                }

            })

            $("#searchButton").on("click", function () {
                const propertyID = $("#select_propertyID").val(); // 每次點擊時重新讀取 propertyID
                if (!propertyID) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "請輸入財產編號",
                    });
                    return;
                }

                // 發送 AJAX 請求
                $.ajax({
                    url: "/chyunn/inventory/search",
                    method: "POST",
                    data: { final_property_id: propertyID },
                    success: function (response) {
                        if (response.code === 200) {
                            console.log(response)
                            $("#final_property_id").val(response.data.inventory.final_property_id);
                            $("#name").val(response.data.inventory.name);
                            $("#location").val(response.data.inventory.location);
                            $("#remarks ").val(response.data.inventory.remarks);
                            $("#custodian").val(response.data.inventory.custodian);
                            $("#change_record").val(response.data.inventory.change_record);

                            // 顯示解鎖按鈕
                            $("#unlockButton").show();

                            // 根據盤點狀態更新按鈕顯示
                            if (response.data.inventory.state === false) {
                                // 盤點狀態為 false，顯示 "未盤點"
                                $("#checkButton").text("未盤點");
                                $("#checkButton").css({
                                    "background-color": "red",
                                    "color": "white"
                                });
                            } else if (response.data.inventory.state === true) {
                                // 盤點狀態為 true，顯示 "已盤點"
                                $("#checkButton").text("已盤點");
                                $("#checkButton").css({
                                    "background-color": "green",
                                    "color": "white"
                                });
                            }
                            // 顯示盤點狀態按鈕
                            $("#checkButton").show();

                            Swal.fire({
                                icon: 'success',
                                text: "成功",
                                width: 800,  // 設定寬度
                                heightAuto: false,  // 禁用自動高度計算
                                padding: '20px', // 增加內邊距
                                showCancelButton: false,
                                customClass: {
                                    popup: 'swal-popup-large', // 自訂類別
                                    content: 'swal-content-large' // 自訂內容字體
                                },
                            })
                        } else if (response.code === 404) {
                            Swal.fire({
                                icon: 'error',
                                title: '查無資料',
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '錯誤',
                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                        });
                        console.error(error);
                    }
                });
            });

            // 解鎖按鈕事件
            $("#unlockButton").on("click", function () {
                // 移除 readonly 屬性並修改樣式
                $(" #name, #location, #notes,#remarks, #custodian, #change_record")
                    .prop("readonly", false)
                    .removeClass("readonly-field")
                    .addClass("editable-field");
                // 隱藏解鎖按鈕
                $("#unlockButton").hide();
                // 顯示更新按鈕
                $("#updateButton").show();
            });

            // 更新按鈕事件
            $("#updateButton").on("click", function () {
                // 取得表單中的值
                const updatedData = {
                    final_property_id: $("#final_property_id").val(),
                    name: $("#name").val(),
                    location: $("#location").val(),
                    remarks: $("#remarks ").val(),
                    custodian: $("#custodian").val(),
                    change_record: $("#change_record").val(),
                };
                // 發送更新請求
                $.ajax({
                    url: "/chyunn/inventory/update",
                    method: "PUT",
                    data: updatedData,
                    success: function (response) {
                        if (response.code === 200) {
                            $("#final_property_id").val(response.data.inventory.final_property_id);
                            $("#name").val(response.data.inventory.name);
                            $("#location").val(response.data.inventory.location);
                            $("#remarks ").val(response.data.inventory.remarks);
                            $("#custodian").val(response.data.inventory.custodian);
                            $("#change_record").val(response.data.inventory.change_record);
                            $(" #name, #location, #notes, #custodian, #change_record")
                                .prop("readonly", true)
                                .addClass("readonly-field")
                                .removeClass("editable-field");
                            // 隱藏解鎖按鈕
                            $("#unlockButton").show();
                            // 顯示更新按鈕
                            $("#updateButton").hide();

                            Swal.fire({
                                icon: "success",
                                title: "更新成功",
                                text: "資料已更新",
                                width: 800,
                                heightAuto: false,
                                padding: '20px',
                                showCancelButton: false,
                                customClass: {
                                    popup: 'swal-popup-large',
                                    content: 'swal-content-large'
                                }
                            });
                        } else if (response.code === 400) {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: response.message
                            });
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: response.message
                            });
                        }

                    },
                    error: function (error) {
                        Swal.fire({
                            icon: "error",
                            title: "更新失敗",
                            text: "系統錯誤",
                        });
                        console.error(error);
                    }
                });
            })
        })

    </script>
</body>

</html>