<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<div th:replace="~{indexNavbar/navbar1}"></div>
	<title>creditcard</title>

</head>

<body>

	<div th:replace="~{indexNavbar/navbar2}"></div>

	<!--galley start-->
	<section id="gallery" class="gallery">
		<div class="container">
			<div class="gallery-details">
				<div class="gallary-header text-center">
					<h2>
						top destination
					</h2>
				</div><!--/.gallery-header-->
				<div class="gallery-box">
					<div class="gallery-content">
						<div class="filtr-container">
							<div class="row">

								<div class="col-md-6">
									<div class="filtr-item">
										<img src="assets/images/gallary/taipei.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台北
											</a>
											<p><span>Taipei</span></p>
										</div><!-- /.item-title -->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-6">
									<div class="filtr-item">
										<img src="assets/images/gallary/taichung.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台中
											</a>
											<p><span>Taichung</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="assets/images/gallary/tainan.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台南
											</a>
											<p><span>Tainan</span></p>
										</div><!-- /.item-title -->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="assets/images/gallary/taitung.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												台東
											</a>
											<p><span>taitung</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-4">
									<div class="filtr-item">
										<img src="assets/images/gallary/hualien.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												花蓮
											</a>
											<p><span>hualien</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

								<div class="col-md-8">
									<div class="filtr-item">
										<img src="assets/images/gallary/yilan.jpg" alt="portfolio image" />
										<div class="item-title">
											<a href="#">
												宜蘭
											</a>
											<p><span>yilan</span></p>
										</div> <!-- /.item-title-->
									</div><!-- /.filtr-item -->
								</div><!-- /.col -->

							</div><!-- /.row -->
						</div><!-- /.filtr-container-->
					</div><!-- /.gallery-content -->
				</div><!--/.galley-box-->
			</div><!--/.gallery-details-->
		</div><!--/.container-->
	</section><!--/.gallery-->
	<!--gallery end-->
	<div th:replace="~{indexNavbar/navbar3}"></div>
	<div th:replace="~{indexNavbar/navbar4}"></div>
</body>

</html>