<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>登入</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <div th:replace="~{backStageNavbar/backStageNavbar_1}"></div>
</head>

<body style="background-image: url('/chyunn/img/IMG_9852.jpg'); background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <h3>手機登入</h3>
                        </div>
                        <form id="loginForm" method="post">
                            <div class="form-floating mb-3">
                                <input type="text" name="id" class="form-control" id="id" placeholder="請輸入帳號" required>
                                <label for="id">帳號</label>
                            </div>
                            <div class="form-floating mb-4">
                                <input type="password" name="password" class="form-control" id="floatingPassword"
                                    placeholder="請輸入密碼" required autocomplete="current-password">
                                <label for="floatingPassword">密碼</label>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe">
                                    <label class="form-check-label" for="rememberMe">記住帳號</label>
                                </div>
                                <a href="">忘記密碼</a>
                            </div>
                            <input type="submit" class="btn btn-primary py-3 w-100 mb-4" value="登入" />
                        </form>
                        <button id="lineLoginBtn" type="submit" class="btn py-3 w-100 mb-4"
                            style="background-color: #06C755; color: #fff;">Line登入</button>
                        <br>
                        <p class="text-center mb-0"> 沒有帳號嗎? <a href="">註冊 </a></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
    </div>

    <!-- scriptNavbar -->
    <div th:replace="~{backStageNavbar/backStageNavbar_5}"></div>
    <script>
        $(document).ready(function () {
            $('#loginForm').submit(function (event) {
                event.preventDefault();  // 取消submit預設動作
                // 取得Form資料
                const formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/chyunn/user/login',
                    data: formData,
                    success: function (response) {
                        if (response.code === 200) {
                            window.location.href = "/chyunn/mobile/asset/invertory_Index";
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "帳號密碼錯誤 ",
                        });
                        console.error('AJAX error:', error);
                    }
                });
            });
        });
    </script>
</body>

</html>