<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <i class="fa fa-hotel me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">切換飯店</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <th:block th:each="hotel : ${session.hotels}">
                    <a th:href="@{'/hotel/dashboard?hotelID=' + ${hotel.hotelID}}" class="dropdown-item">
                        <div class="d-flex align-items-center">
                            <img id="userImage" class="rounded-circle" th:src="@{/hotel/hotelLoginPicture}"
                                alt="User Image" style="width: 40px; height: 40px;">
                            <div class="ms-2">
                                <h6 class="fw-normal mb-0" th:text="${hotel.hotelName}"></h6>
                            </div>
                        </div>
                    </a>
                    <hr class="dropdown-divider">
                </th:block>
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"> <i class="fa fa-bell me-lg-2"></i>
                <span class="d-none d-lg-inline-flex">通知</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">
                    <h6 class="fw-normal mb-0">user</h6> <small>
                        user test</small>
                </a>
                <hr class="dropdown-divider">
            </div>
        </div>
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img id="userImage" class="rounded-circle" th:src="@{/hotel/hotelLoginPicture}" alt="User Image"
                    style="width: 40px; height: 40px;"> <span class="d-none d-lg-inline-flex"
                    th:text="${session.loginName}"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">設定</a>
                <a th:href="@{/hotel/logout}" class="dropdown-item">登出</a>
            </div>
        </div>
    </div>
</nav>