<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a th:href="@{'/hotel/dashboard?hotelID=' + ${hotelID}}" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">SIP.com</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img id="userImage" class="rounded-circle" th:src="@{/hotel/hotelLoginPicture}" alt="User Image"
                    style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0" th:text="${session['hotel' + hotelID]}"></h6>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <a th:href="@{'/hotel/dashboard?hotelID=' + ${hotelID}}" class="nav-item nav-link "><i
                    class="fa fa-home me-2"></i>後台首頁</a>
            <a th:href="@{'/hotel/setaccount?hotelID=' + ${hotelID}}" class="nav-item nav-link"><i
                    class='fas fa-user me-2'></i>帳號設定</a>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-hotel me-2"></i>飯店設定</a>

                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/hotel/hoteldetail?hotelID='+ ${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>飯店資料</a>
                    <a th:href="@{'/hotel/add?hotelID='+ ${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>新增飯店</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-file-alt me-2"></i>訂單管理</a>

                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/hotel/order?hotelID='+ ${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>查詢訂單</a>
                    <a th:href="@{'/hotel/insertOrder?hotelID='+ ${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>新增訂單</a>
                    <a th:href="@{'/hotel/activeOrders?hotelID='+ ${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>進行中的訂單</a>
                    <a th:href="@{'/hotel/upcomingOrders?hotelID='+ ${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>即將進行的訂單</a>
                </div>
            </div>

            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fas fa-bed me-2"></i>房間管理</a>

                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/room/findAllRoom?hotelID='+${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>房間管理</a>
                    <a th:href="@{'/room/insterRoom?hotelID='+${hotelID}}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>新增房間</a>

                </div>
            </div>
        </div>
    </nav>
</div>