<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<div th:replace="~{indexNavbar/navbar1}"></div>
	<!-- TITLE OF SITE -->
	<title>SIP-預覽</title>
	<style>
		.modal-backdrop {
			display: none !important;
		}

		.fixed-right {
			position: fixed;
			top: 50%;
			/* 將垂直位置設定為螢幕的中央 */
			transform: translateY(-50%);
			/* 透過 transform 將元素上移自身高度的一半 */
			right: 0;
			height: 500px;
			/* 讓高度自適應內容，而不是整個螢幕高度 */
			width: 200px;
			padding: 15px;
			background-color: rgba(255, 255, 255, 0.8);
			border: 1px solid #ddd;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
			display: none;
			/* 初始時設定為不可見 */
		}

		.single-package-item {
			display: flex;
			width: 100%;
		}

		.single-package-item-txt {
			flex: 2;
			margin-left: 20px;
		}

		.hotelType,
		.roomName,
		.hotelDetail {
			font-size: large;
		}

		.hotelIntroduction {
			font-size: 15PX;
		}
	</style>
</head>

<body>

	<!--about-us start -->
	<section id="home" class="about-us">
		<div class="container">
			<div class="about-us-content">
				<div class="row">
					<div class="col-sm-12">
						<div class="single-about-us">
							<div class="about-us-txt">
								<h2>
									往下搜尋你的旅程
								</h2>
							</div><!--/.about-us-txt-->
						</div><!--/.single-about-us-->
					</div><!--/.col-->
					<div class="col-sm-0">
						<div class="single-about-us">
						</div><!--/.single-about-us-->
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.about-us-content-->
		</div><!--/.container-->
	</section><!--/.about-us-->
	<!--about-us end -->

	<!--travel-box start-->
	<section class="travel-box">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="single-travel-boxes">
						<div id="desc-tabs" class="desc-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active">
									<a href="#tours" aria-controls="hotels" role="tab" data-toggle="tab">
										<i class="fa fa-tree"></i>
										hotels
									</a>
								</li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane active fade in" id="hotels">
									<div class="tab-para">

										<div class="row">
											<div class="col-lg-4 col-md-4 col-sm-12">
												<h2>搜尋你想住的城市</h2>
												<input type="text" class="form-control" placeholder="搜尋你想住的城市"
													name="city" required>
											</div><!--/.col-->
											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>入住日期</h2>
													<div class="travel-check-icon">
														<input type="text" class="form-control  selectedDate">
													</div><!-- /.travel-check-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-3 col-sm-4">
												<div class="single-tab-select-box">
													<h2>退房日期</h2>
													<div class="travel-check-icon">
														<input type="date" class="form-control  selectedDate">
													</div><!-- /.travel-check-icon -->
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>房間數量</h2>
													<div class="quantity">
														<input class="form-control" type="number" id="quantity"
															name="quantity" min="1" max="30" required />
														<button class="btn btn-outline-secondary minus-btn" id="minus"
															type="button">-</button>
														<button class="btn btn-outline-secondary plus-btn" id="plus"
															type="button">+</button>
													</div>
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="col-lg-2 col-md-1 col-sm-4">
												<div class="single-tab-select-box">
													<h2>人數</h2>
													<div class="totalPeople">
														<input class="form-control" type="number" id="totalPeople"
															name="totalPeople" min="1" max="30" required />
														<button class="btn btn-outline-secondary minus-btn"
															id="minus_People" type="button">-</button>
														<button class="btn btn-outline-secondary plus-btn"
															id="plus_People" type="button">+</button>
													</div>
												</div><!--/.single-tab-select-box-->
											</div><!--/.col-->

											<div class="clo-sm-7">
												<div class="about-btn travel-mrt-0 pull-right">
													<button type="submit" class="about-view travel-btn">Search</button>
												</div><!--/.about-btn-->
											</div><!--/.col-->
										</div><!--/.row-->

									</div><!--/.tab-para-->
								</div><!--/.tabpannel-->
							</div><!--/.tab content-->
						</div><!--/.desc-tabs-->
					</div><!--/.single-travel-box-->
				</div><!--/.col-->
			</div><!--/.row-->
		</div><!--/.container-->
	</section><!--/.travel-box-->
	<!--travel-box end-->
	<!--service start-->
	<section id="service" class="" style="background-color: #f9f9f9;">
		<div class="container">
			<div class="service-counter ">
				<div class="row">
					<div class="col-sm-8">
						<br>
						<h3 class="text-dark">
							<span class="text-dark hotelName" th:text="${hotel.hotelName}">Hotel
								Name</span>
							<span class="pull-right text-dark" th:text=" ${hotel.hotelType}">飯店類型</span>
						</h3>
						<br>
						<!-- 地址 -->
						<h4 class="text-dark">
							<span>
								<span
									th:text="'地址:'+${hotel.country} + ', ' + ${hotel.city} + ', ' + ${hotel.region} + ', ' + ${hotel.street}">
									國家, 城市, 區域, 街道
								</span>
							</span>
							<br><br>
							<!-- 飯店星級 -->
							<span th:if="${hotel.hotelType != '民宿'}">
								<span th:text="'飯店星級:'+${hotel.hotelStar}">星級</span>
								<br><br>
							</span>
							<!-- 聯絡電話 -->
							<span>
								<span th:text="'聯絡電話:'+${hotel.tel}">電話</span>
							</span>
							<br><br>
						</h4>
						<!-- 飯店介紹 -->
						<h4>飯店介紹</h4>
						<div class="hotelIntroduction" th:utext="${hotel.hotelIntroduction}">
							飯店詳細介紹內容
						</div>
					</div><!--/.col-sm-8-->

				</div><!--/.row-->
			</div><!--/.col-->
		</div><!--/.statistics-counter-->
		</div><!--/.container-->
	</section><!--/.service-->
	<!--service end-->

	<!--packages start-->
	<section id="pack" class="" style="background-color: #f9f9f9;">
		<div class="container">
			<div class="packages-content">
				<div class="row">
					<div class="col-md-12 col-sm-12" style="margin-top: -50px;">
						<div class="single-package-item">
							<div class="carousel slide" style="width: 532px; height: 389.5px;">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<img src="" class="d-block w-100" alt="Room Image"
											style="width: 532px; height: 389.5px;">
										<p></p>
									</div>
								</div>
								<button class="carousel-control-prev" type="button" data-bs-slide="prev">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Previous</span>
								</button>
								<button class="carousel-control-next" type="button" data-bs-slide="next">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="visually-hidden">Next</span>
								</button>
							</div>
							<div class="single-package-item-txt"
								style="width: 588px; display: flex; flex-direction: column; height: 100%;">
								<h3>
									<span class="text-dark hotelName"></span>
									<br><br>
									<span class="pull-right text-dark"></span>
									<span class="pull-left text-dark"></span>
								</h3>
								<div class="packages-para">
									<h4>
										<span class="text-dark productName"></span>
										<span class="pull-right text-dark"></span>
									</h4>
								</div>
								<br>
								<div class="hotel-details">
									<span></span><br><br>
									<p class="text-dark hotelDetail">房型摘要:</p>
									<span></span>
									<span></span>
									<span></span>
									<span></span><br>
									<span></span>
									<span></span>
									<span></span>
									<span></span><br>
									<div style="border-top: 1px solid #252121; margin: 5px 0;"></div>
									<p class="text-dark"></p>
									<p class="text-dark"></p>
									<p class="text-dark"></p><br>
									<span></span><br>
									<span></span><br><br>
									<p class="text-dark hotelDetail"
										th:if="${hotel.hotelDetail.reservationNotice != null and hotel.hotelDetail.reservationNotice != ''}">
										預訂須知:</p>
									<p class="text-dark" th:text="${hotel.hotelDetail.reservationNotice}"></p>
								</div><br>
								<div class="row" style="margin-top: auto;">
									<div class="col-md-6">
										<span>選擇數量</span>
										<select class="about-view packages-btn quantity-select" name="quantity">
											<option></option>
										</select>
									</div>
								</div>
							</div><!--/.single-package-item-txt-->
						</div><!--/.single-package-item-->
					</div><!--/.col-->
				</div><!--/.row-->
			</div><!--/.packages-content-->
		</div>
	</section><!--/.packages-->
	<div th:replace="~{indexNavbar/navbar3}"></div>
	<div th:replace="~{indexNavbar/navbar4}"></div>
</body>

</html>