<script th:src="@{/assets/js/jquery.js}"></script>

<!--modernizr.min.js-->
<script th:src="@{/assets/js/modernizr.min.js}"></script>

<!--bootstrap.min.js-->
<script th:src="@{/assets/js/bootstrap.min.js}"></script>

<!-- bootsnav js -->
<script th:src="@{/assets/js/bootsnav.js}"></script>

<!-- jquery.filterizr.min.js -->
<script th:src="@{/assets/js/jquery.filterizr.min.js}"></script>

<script th:src="@{/assets/js/jquery.easing.min.js}"></script>

<!--jquery-ui.min.js-->
<script th:src="@{/assets/js/jquery-ui.min.js}"></script>

<!-- counter js -->
<script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
<script th:src="@{/assets/js/waypoints.min.js}"></script>

<!--owl.carousel.js-->
<script th:src="@{/assets/js/owl.carousel.min.js}"></script>

<!-- jquery.sticky.js -->
<script th:src="@{/assets/js/jquery.sticky.js}"></script>

<!--datepicker.js-->
<script th:src="@{/assets/js/datepicker.js}"></script>

<!--Custom JS-->
<script th:src="@{/assets/js/custom.js}"></script>


<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- sweetalert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js"></script>