<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>群運事件問題-新增事件</title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<div th:replace="~{backStageNavbar/backStageNavbar_1}"></div>
	<style>
		.flatpickr-input {
			background-color: #fff !important;
			color: #000 !important;
		}

		.custom-btn {
			background-color: #1ab394;
			border-color: #1ab394;
			color: white;
			width: 80px;
			height: 35px;
		}

		.custom-btn:hover {
			color: white;
			/* 字體保持白色 */
			text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
			/* 發光效果 */
			background-color: #18a383;
			/* 懸停時略微變化背景色 */
			border-color: #18a383;
		}
	</style>
</head>

<body>
	<div th:replace="~{backStageNavbar/backStageNavbar_2}"></div>
	<!-- Content Start -->
	<div class="content">
		<div th:replace="~{backStageNavbar/backStageNavbar_3}"></div>
		<form id="insterRoom">
			<div class="container-fluid pt-4 px-4">
				<div class="row g-4 h6">
					<div class="col-sm-12 col-md-6">
						<div class="bg-light rounded h-100 p-5">
							<h6 class="mb-4">新增事件</h6>
							<div class="mb-3">
								<label for="belongingType" class="form-label">屬於:</label>
								<select id="belongingType" name="belongingType"
									class="form-select small-input text-dark" required>
									<option value="" disabled selected>選擇歸屬</option>
									<option value="內部">內部</option>
									<option value="外部">外部</option>
								</select>
							</div>
							<div class="mb-3">
								<label for="productName" class="form-label">事件相關客戶:</label>
								<input type="text" id="productName" name="productName"
									class="form-control small-input text-dark" required>
							</div>
							<div class="mb-3">
								<label for="productName" class="form-label">事件相關車輛:</label>
								<input type="text" id="productName" name="productName"
									class="form-control small-input text-dark" required>
							</div>
							<div class="mb-3">
								<label for="importance" class="form-label">重要性:</label>
								<select id="importance" name="importance" class="form-select small-input text-dark"
									required>
									<option value="" disabled selected>選擇重要性</option>
									<option value="特急件">特急件</option>
									<option value="急件">急件</option>
									<option value="重要">重要</option>
									<option value="普通">普通</option>
								</select>
							</div>
							<div class="mb-3">
								<label for="reporter" class="form-label">反應人:</label>
								<select id="reporter" name="reporter" class="form-select small-input text-dark"
									required>
									<option value="" disabled selected>選擇反應人</option>
									<option value="測試使用者">測試者</option>
								</select>
							</div>
							<div class="mb-3">
								<label for="email" class="form-label">反應人Email:</label>
								<input type="email" id="email" name="email" class="form-control small-input text-dark"
									required>
							</div>
							<div class="mb-3">
								<label for="tel" class="form-label">反應人電話:</label>
								<input type="number" id="tel" name="tel" class="form-control small-input text-dark"
									required>
							</div>
							<div class="mb-3">
								<label for="reportDate" class="form-label">反應日期:</label>
								<input type="date" id="reportDate" name="reportDate"
									class="form-control small-input selectedDate" required>
							</div>

							<!--	<div class="mb-3">
								<label for="productImages" class="form-label">上傳圖片:</label>
								<input type="file" id="productImages" name="productImages" accept="image/*"
									class="form-control" onchange="previewImage(this)" multiple>
							</div>
							<div class="mb-3" id="imagePreviewContainer"
								style="display: inline-block; border-bottom: 2px solid #ddd; padding-bottom: 10px;">
								 預覽圖片的容器
							</div>-->
						</div>
					</div>
					<div class="col-sm-12 col-md-6">
						<div class="bg-light rounded h-100 p-5 ">
							<div class="mb-3">
								<label for="task" class="form-label">工作事項:</label>
								<select id="task" name="task" class="form-select small-input text-dark" required>
									<option value="" disabled selected>選擇工作事項</option>
									<option value="需要業務接洽">需要業務接洽</option>
									<option value="需要服務人員接洽">需要服務人員接洽</option>
									<option value="需要工務部處理">需要工務部處理</option>
									<option value="需要資訊部處理">需要資訊部處理</option>
									<option value="上級長官指示處理">上級長官指示處理</option>
									<option value="其他不明確事件">其他不明確事件</option>
									<option value="系統測試用">系統測試用</option>
								</select>
							</div>

							<div class="mb-3">
								<label for="department" class="form-label">預設處理部門:</label>
								<select id="department" name="department" class="form-select small-input text-dark"
									required>
									<option value="" disabled selected>請選擇</option>
									<option value="工務部">工務部</option>
									<option value="行政部">行政部</option>
									<option value="資訊部">資訊部</option>
									<option value="營業部">營業部</option>
									<option value="財會部">財會部</option>
									<option value="稽核部">稽核部</option>
									<option value="土資">土資</option>
								</select>
							</div>
							<div class="mb-3">
								<label for="handler" class="form-label">預設處理人:</label>
								<select id="handler" name="handler" class="form-select small-input text-dark" required>
									<option value="" disabled selected>請選擇</option>
									<option value="處理人1">處理人1</option>
									<option value="處理人2">處理人2</option>
									<option value="處理人3">處理人3</option>
									<option value="處理人4">處理人4</option>
								</select>
								<!-- <input type="text" id="handler" name="handler"
									class="form-control small-input text-dark" required> -->
							</div>
							<div class="mb-3">
								<label for="eventContent" class="form-label">事件描述:</label>
								<textarea id="eventContent" name="eventContent" rows="10" cols="50"
									class="form-control text-dark" required></textarea><br><br>
								<button id="submit" type="submit" class="btn btn-sm custom-btn">新增事件</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <input type="hidden" name="hotelID" th:value="${hotelID}" id="hotelID" /> -->
			<!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
		</form>
	</div>

	<!-- Footer --><!-- Back to Top -->
	<div th:replace="~{backStageNavbar/backStageNavbar_4}"></div>
	<!-- scriptNavbar -->
	<div th:replace="~{backStageNavbar/backStageNavbar_5}"></div>
	<script>

		//日歷選擇器 
		var dateStart = new Date();
		var dateEnd = new Date(dateStart);
		dateEnd.setDate(dateStart.getDate() + 1); // 將 dateEnd 設定為 dateStart 的後一天
		var dateStartPicker = flatpickr("#reportDate", {
			dateFormat: "Y-m-d",
			minDate: "today",
			defaultDate: [dateStart],
			onChange: function (selectedDates, dateStr, instance) {
				// 更新退房日期的最小日期為選取的入住日期的下一天
				var newDate = new Date(dateStr);
				newDate.setDate(newDate.getDate() + 1);

				// 設定 dateEndPicker 的最小日期為新的日期，確保至少晚一天
				dateEndPicker.set('minDate', newDate);
				dateEndPicker.setDate(newDate); // 更新退房日期為最小日期
			}
		});

		// 上傳圖片:
		// function previewImage(input) {
		// 	const imagePreviewContainer = document.getElementById('imagePreviewContainer');
		// 	imagePreviewContainer.innerHTML = "   ";

		// 	const files = input.files;

		// 	for (let i = 0; i < files.length; i++) {
		// 		const file = files[i];
		// 		const img = document.createElement("img");
		// 		img.style.maxWidth = "200px";
		// 		img.style.maxHeight = "200px";
		// 		img.style.marginRight = "20px";
		// 		img.style.marginTop = "20px";
		// 		const reader = new FileReader();

		// 		reader.onload = function (e) {
		// 			img.src = e.target.result;
		// 		};

		// 		reader.readAsDataURL(file);
		// 		imagePreviewContainer.appendChild(img);
		// 		console.log("test =========================================");
		// 	}
		// }

		$(document).ready(function () {

			$("#submit").click(function (event) {
				//取消預設動作
				event.preventDefault();
				var form = document.getElementById('insterRoom');
				// 手動驗證表單
				if (form.checkValidity()) {
					//創一個formData裝requestData、圖片img
					const formData = new FormData();
					// 將多張圖片文件添加到 FormData 中
					// const productImages = document.getElementById("productImages").files;
					// for (let i = 0; i < productImages.length; i++) {
					// 	formData.append("productImages", productImages[i]);
					// }
					// 創建要傳遞的物件
					const incident = {
						belongingType: $("#belongingType").val(),
						reporter: $("#reporter").val(),
						task: $("#task").val(),
						eventContent: $("#eventContent").val(),
						importance: $("#importance").val(),
						department: $("#department").val(),
						handler: $("#handler").val(),
						reportDate: $("#reportDate").val(),
					};

					// 	// 將物件包裝成一個大的 JSON 物件
					// 	const requestData = {
					// 		room: room,
					// 		roomQuantityPriceByDate: roomQuantityPriceByDate,
					// 		dateStart: $("#dateStart").val(),
					// 		dateEnd: $("#dateEnd").val(),
					// 		hotelID: $("#hotelID").val(),
					// 	};
					// 	console.log(requestData)
					// 	// 將 JSON 物件轉換為字符串，並添加到 FormData 中
					// 	formData.append("requestData", JSON.stringify(requestData));
					// 	Swal.fire({
					// 		title: "新增中...",
					// 		text: "請稍候",
					// 		icon: "info",
					// 		allowOutsideClick: false, // 禁止點擊背景關閉
					// 		allowEscapeKey: false, // 禁止按下 ESC 鍵關閉
					// 		allowEnterKey: false, // 禁止按下 Enter 鍵關閉
					// 		showConfirmButton: false,
					// 		willOpen: () => {
					// 			Swal.showLoading(); // 顯示Loading
					// 		}
					// 	});
					$.ajax({
						url: "/chyunn/incident/inster_incident",
						type: "POST",
						data: JSON.stringify(incident), // 將 incident 物件轉換成 JSON 格式
						contentType: "application/json", // 設置 contentType 為 application/json
						processData: false, // 防止 jQuery 自動處理 data
						headers: {
							'X-CSRF-TOKEN': $('input[name=_csrf]').val()
						},
						success: function (response) {

							if (response.code === 200) {
								Swal.fire({
									icon: 'success',
									title: '上傳成功！',
									showCancelButton: false,
								}).then((result) => {
									window.location.href = "/chyunn/incident/incident_Detail?incidentId=" + response.data.incident.incidentId;
								})
							} else {
								Swal.fire({
									icon: "error",
									title: "Oops...",
								});

							}
						},
						error: function () {
							console.log("上傳失敗");
							Swal.fire({
								icon: "error",
								title: "Oops...",
								text: "請填入完整資料、圖片",
							});
						}
					});
				} else {
					console.log("表單驗證失敗，不能提交");
					// 如果表單無效，強制觸發瀏覽器的驗證提示 開啟required功能
					form.reportValidity();
				}
			});
		});
	</script>
</body>

</html>