<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>資訊盤點-抽樣</title>
    <div th:replace="~{backStageNavbar/backStageNavbar_1}"></div>
    <style>
        .event-content {
            word-wrap: break-word;
            /* 遇到長字會換行 */
            word-break: break-word;
            /* 強制打斷字詞換行 */
            white-space: normal;
            /* 允許文字換行 */
            max-width: 400px;
            /* 設定寬度控制換行 */
        }

        .custom-btn {
            background-color: #1ab394;
            border-color: #1ab394;
            color: white;
            /* transition: color 0.3s ease, text-shadow 0.3s ease; */
            /* 平滑效果 */
        }

        .custom-btn:hover {
            color: white;
            /* 字體保持白色 */
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
            /* 發光效果 */
            background-color: #18a383;
            /* 懸停時略微變化背景色 */
            border-color: #18a383;
        }

        /* 給只讀狀態的欄位設置灰色背景 */
        .readonly-field {
            background-color: #e9ecef;
            color: #6c757d;
            cursor: not-allowed;

        }

        /* 可編輯時的樣式 */
        .editable-field {
            background-color: #ffffff;
            color: #212529;
            cursor: text;
        }

        .swal2-popup {
            font-size: 40px !important;
        }

        .swal2-styled {
            height: 150px;
        }

        /* 調整 SweetAlert2 關閉按鈕 (×) */
        .swal-close-small {
            font-size: 40px !important;
            color: rgba(0, 0, 0, 0.5) !important;
            top: 5px !important;
            right: 5px !important;
        }

        /* 自訂 important footer 的樣式 */
        .swal-footer-custom {
            margin-top: 0px !important;
            /* 調整按鈕與圖片間距 */
            padding: 0px !important;
        }
    </style>
</head>

<body>
    <!-- Content Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-light text-center rounded p-4">
            <form class="selectOrder">
                <!-- 搜索欄 -->
                <div class="row mb-3 align-items-center" style="height: 100px;">
                    <div class="col-12 d-flex justify-content-between align-items-center">

                        <!-- 上一件按鈕 -->
                        <a th:href="${prevId != null} ? @{/mobile/asset/mobile_select_number(final_property_id=${prevId})} : null"
                            class="btn btn-secondary btn-lg" th:classappend="${prevId == null} ? ' disabled' : ''"
                            style="font-size: 30px;">
                            <i class="fas fa-arrow-left"></i>
                        </a>

                        <!-- 財產編號 Label -->
                        <label for="Search" class="col-form-label px-0 text-dark" style="font-size:58px;">
                            資訊盤點
                        </label>

                        <!-- 下一件按鈕 -->
                        <a th:href="${nextId != null} ? @{/mobile/asset/mobile_select_number(final_property_id=${nextId})} : null"
                            class="btn btn-secondary btn-lg" th:classappend="${nextId == null} ? ' disabled' : ''"
                            style="font-size: 30px;">
                            <i class="fas fa-arrow-right"></i>
                        </a>

                    </div>

                    <!-- Input Field for 財產編號 -->
                    <div class="col-12">
                        <input class="form-control text-dark" type="hidden" id="select_propertyID" name="propertyID"
                            placeholder="輸入財產編號" style="height: 150px; font-size:58px;" th:value="${propertyID}"
                            readonly>
                    </div>
                </div>
            </form>
            <hr>

            <div class="container-fluid mt-4">
                <div class="bg-light rounded p-4">
                    <div class="row text-start">
                        <!-- 盤點狀態 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">盤點狀態:</span> <i id="lockIcon" class="fa-solid fa-lock  text-danger"
                                style="cursor: pointer;"></i>
                            <button type="button" id="checkButton" class="btn custom-btn w-100"
                                style="font-size: 58px; height: 100px; display:none;">
                            </button>
                        </div>
                        <!-- 最終財產編號 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">最終財產編號:
                                <button type="button" class="btn btn-outline-secondary mb-0" id="history-btn"
                                    style="font-size: 27px; padding: 7px 15px; margin-left: 280px; margin-bottom: 0px;">
                                    歷史紀錄
                                </button>
                            </span>
                            <input type="text" id="final_property_id" readonly class="readonly-field">
                        </div>
                        <!-- 名稱 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">名稱:</span>
                            <textarea id="name" rows="2" readonly
                                style="width: 100%;  resize: none; overflow-wrap: break-word;"
                                class="readonly-field"></textarea>
                        </div>
                        <!-- 放置處 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">放置處:</span>
                            <input type="text" id="location" readonly class="readonly-field">
                            <div id="imageContainer"></div>
                        </div>

                        <!-- 備註 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">備註:</span>
                            <textarea id="remarks" rows="2" readonly
                                style="width: 100%; resize: none; overflow-wrap: break-word;"
                                class="readonly-field"></textarea>
                        </div>
                        <!-- 保管人 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">保管人:</span>
                            <input type="text" id="custodian" readonly class="readonly-field">
                        </div>
                        <!-- 異動記錄 -->
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">異動記錄:</span>
                            <textarea id="change_record" rows="2" readonly
                                style="width: 100%;   resize: none; overflow-wrap: break-word;"
                                class="readonly-field"></textarea>
                        </div>
                        <div class="col-12 mb-3 text-dark" style="font-size:58px;">
                            <span class="ms-2">拍照上傳:</span>
                            <img id="photoPreview" style="max-width: 100%; margin-top: 20px; display: none;">
                            <input type="file" id="cameraInput" capture="environment" class="form-control" multiple
                                accept="image/png, image/jpeg" style="font-size: 40px; padding: 10px;">
                        </div>
                        <div class="col-12 mt-4"> <!--解鎖更新按鈕 -->
                            <button type="button" id="unlockUpdateButton" class="btn custom-btn w-100"
                                style="font-size: 58px; height: 100px;display:none;">
                                更新
                            </button>
                        </div>
                        <div class="col-12 mt-4"> <!-- 更新按鈕 -->
                            <button type="button" id="updateButton" class="btn custom-btn w-100"
                                style="font-size: 58px; height: 100px; display: none;">
                                點擊更新
                            </button>
                        </div>
                        <div class="col-12 mt-4">
                            <a th:href="@{'/mobile/asset/Asset_Sampling_List'}" class="btn btn-secondary w-100"
                                style="font-size: 58px; height: 100px;">
                                返回清單頁
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content End -->
    <!-- scriptNavbar -->
    <div th:replace="~{backStageNavbar/backStageNavbar_5}"></div>
    <script>

        $(document).ready(function () {

            // 鎖頭點擊切換鎖定/解鎖
            $("#lockIcon").on("click", function () {
                let $lockIcon = $(this);

                if ($lockIcon.hasClass("fa-lock")) {
                    // 變成解鎖（綠色）
                    $lockIcon.removeClass("fa-lock text-danger")
                        .addClass("fa-lock-open text-success");
                } else {
                    // 變回上鎖（紅色）
                    $lockIcon.removeClass("fa-lock-open text-success")
                        .addClass("fa-lock text-danger");
                }
            });

            // 更新狀態事件
            $("#checkButton").on("click", function () {
                const propertyID = $("#select_propertyID").val(); // 每次點擊時重新讀取 propertyID

                // 先檢查按鈕文本是否為 "已盤點"
                if ($("#lockIcon").hasClass("fa-lock")) {
                    Swal.fire({
                        icon: 'warning',
                        title: '未解鎖',
                        text: '請先點擊解鎖按鈕再進行狀態更改',
                    });
                    return; // 退出，不繼續執行後面的代碼
                }
                else if ($("#lockIcon").hasClass("fa-lock-open")) {
                    //解鎖開關已隱藏 表示已解鎖 可再次更新成未盤點
                    $.ajax({
                        url: "/chyunn/asset/uncompleted_inventory_update",
                        method: "PUT",
                        data: { final_property_id: propertyID },
                        success: function (response) {
                            if (response.code === 200) {
                                console.log(response)
                                if (response.inventory_in_progress === true) {
                                    // 更新成功後，修改按鈕文本和顏色
                                    $("#checkButton").text("未盤點");
                                    $("#checkButton").css({
                                        "background-color": "red",
                                        "color": "white"
                                    });
                                } else {
                                    // 更新成功後，修改按鈕文本和顏色
                                    $("#checkButton").text("已盤點");
                                    $("#checkButton").css({
                                        "background-color": "green",
                                        "color": "white"
                                    });
                                }

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: '更新失敗',
                                    text: '請稍後再試。',
                                });
                            }
                        },
                        error: function (error) {
                            Swal.fire({
                                icon: 'error',
                                title: '發生錯誤',
                                text: '請稍後再試。',
                            });
                            console.error(error);
                        }
                    });
                    return; // 如果隱藏，則退出
                }

            })

            // 頁面加載時檢查是否已有 propertyID
            var propertyID = $("#select_propertyID").val();
            if (propertyID) {
                // 發送 AJAX 請求
                $.ajax({
                    url: "/chyunn/asset/mobile_get_invertoryDetail",
                    method: "POST",
                    data: { final_property_id: propertyID },
                    success: function (response) {
                        if (response.code === 200) {
                            // console.log(response)
                            $("#final_property_id").val(response.data.inventoryEquipmentDto.final_property_id);
                            $("#name").val(response.data.inventoryEquipmentDto.name);
                            $("#location").val(response.data.inventoryEquipmentDto.location);
                            $("#remarks ").val(response.data.inventoryEquipmentDto.remarks);
                            $("#custodian").val(response.data.inventoryEquipmentDto.custodian);
                            $("#change_record").val(response.data.inventoryEquipmentDto.change_record);
                            // 更新圖片
                            updateImageGallery(response.data.inventoryEquipmentDto.final_property_id, response.data.inventoryEquipmentDto.inventoryEquipmentFileDtoList);
                            // 顯示解鎖按鈕
                            $("#unlockUpdateButton").show();
                            $('#history-btn').off('click').on('click', function () {
                                const historyRecords = response.data.inventoryEquipmentDto.assetHistoryDtoList;
                                showHistoryPopup(historyRecords);
                            });

                            // 根據盤點狀態更新按鈕顯示
                            if (response.data.inventoryEquipmentDto.state === false) {
                                // 盤點狀態為 false，顯示 "未盤點"
                                $("#checkButton").text("未盤點");
                                $("#checkButton").css({
                                    "background-color": "red",
                                    "color": "white"
                                });
                            } else if (response.data.inventoryEquipmentDto.state === true) {
                                // 盤點狀態為 true，顯示 "已盤點"
                                $("#checkButton").text("已盤點");
                                $("#checkButton").css({
                                    "background-color": "green",
                                    "color": "white"
                                });
                            }

                            // 顯示盤點狀態按鈕
                            $("#checkButton").show();
                        } else if (response.code === 404) {
                            Swal.fire({
                                icon: 'error',
                                title: '查無資料',
                            });
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: '錯誤',
                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                        });
                        console.error(error);
                    }
                });

            }
            function showHistoryPopup(historyRecords) {
                let historyHtml = '<div style="text-align: left; max-height: 800px; overflow-y: auto;"><ul>';
                historyRecords.forEach(h => {
                    historyHtml += `<li>${h.date} - ${h.custodian} - ${h.location} - ${h.change_record}</li>`;
                });
                historyHtml += '</ul></div>';

                Swal.fire({
                    icon: '',
                    title: '歷史紀錄',
                    html: historyHtml,
                    width: 800,
                    heightAuto: false,
                    padding: '20px',
                    showCancelButton: false,
                    confirmButtonText: '關閉',
                    customClass: {
                        popup: 'swal-popup-large'
                    }
                });
            }

            function updateImageGallery(final_property_id, files) {
                let imageContainer = $("#imageContainer");
                imageContainer.empty(); // 清空舊圖片
                if (files.length > 0) {
                    files.forEach(file => {
                        const imageUrl = '/chyunn/asset/equipment_' + final_property_id + '/' + file.fileName
                        let imgElement = $("<img>")
                            .attr("src", imageUrl)
                            .attr("alt", "設備圖片")
                            .css({
                                "max-width": "100%",
                                "height": "500px",
                                "margin": "5px", // 四邊都留空間，圖片之間有距離
                                "border-radius": "8px",
                                "box-shadow": "2px 2px 10px rgba(0, 0, 0, 0.2)",
                                "object-fit": "cover", // 確保圖片填滿但不變形
                                "display": "inline-block" // 讓圖片可以水平排列
                            })
                            .on("click", function () {
                                // 使用 SweetAlert2 顯示放大圖片
                                Swal.fire({
                                    imageUrl: imageUrl,
                                    imageAlt: "設備圖片",
                                    showCloseButton: true,
                                    showConfirmButton: false, // 移除確認按鈕
                                    background: "#fff",
                                    padding: "10px",
                                    width: "auto",
                                    heightAuto: true,
                                    footer: '<button id="deleteImageBtn" class="btn btn-danger btn-lg">刪除</button>',
                                    customClass: {
                                        popup: 'swal-popup-large',
                                        closeButton: 'swal-close-small', // 自定義「關閉按鈕」
                                        footer: 'swal-footer-custom', // 自訂footer
                                    }
                                });
                                // 註冊刪除按鈕的點擊事件
                                $("#deleteImageBtn").off("click").on("click", function () {

                                    Swal.fire({
                                        title: "確定刪除嗎？",
                                        text: "刪除後將無法恢復！",
                                        icon: "warning",
                                        showCloseButton: true,
                                        showCancelButton: true,
                                        confirmButtonColor: "#d33",
                                        cancelButtonColor: "#3085d6",
                                        confirmButtonText: "確定刪除",
                                        cancelButtonText: "取消"
                                    }).then(function (result) {
                                        if (result.isConfirmed) {
                                            $.ajax({
                                                url: "/chyunn/asset_manage/delete_image",
                                                method: "DELETE",
                                                data: {
                                                    fileId: file.fileId,
                                                    final_property_id: final_property_id  // 確保 final_property_id 被正確帶入
                                                },
                                                success: function (response) {
                                                    if (response.code === 200) {
                                                        Swal.fire("已刪除！", "圖片已成功刪除。", "success");
                                                        updateImageGallery(final_property_id, response.data.inventoryEquipmentFileDtos); // 重新載入圖片
                                                    } else {
                                                        Swal.fire("錯誤", "刪除失敗，請稍後再試。", "error");
                                                    }
                                                },
                                                error: function () {
                                                    Swal.fire("錯誤", "刪除失敗，請稍後再試。", "error");
                                                }
                                            });
                                        }
                                    });
                                })
                            });

                        imageContainer.append(imgElement);
                    });
                } else {
                    imageContainer.html("<p>無可用圖片</p>");
                }
            }
            // 預設禁用拍照按鈕
            $("#cameraInput").prop("disabled", true);

            // 解鎖更新按鈕事件
            $("#unlockUpdateButton").on("click", function () {
                // 移除 readonly 屬性並修改樣式
                $("#name, #location, #notes, #remarks, #custodian, #change_record")
                    .prop("readonly", false)
                    .removeClass("readonly-field")
                    .addClass("editable-field");

                // 啟用拍照按鈕
                $("#cameraInput").prop("disabled", false);

                // 隱藏解鎖按鈕，顯示更新按鈕
                $("#unlockUpdateButton").hide();
                $("#updateButton").show();
            });
            // 監聽圖片選擇事件，預覽圖片
            $("#cameraInput").on("change", function (event) {
                let file = event.target.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $("#photoPreview").attr("src", e.target.result).show();
                    };
                    reader.readAsDataURL(file);
                }
            });
            // 更新按鈕事件
            $("#updateButton").on("click", function () {
                Swal.fire({
                    title: "更新歷史紀錄",
                    text: "是否要將這次變更記錄到歷史紀錄中？",
                    icon: "question",
                    showCloseButton: true,
                    showCancelButton: true,
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    allowEnterKey: false,
                    focusConfirm: false,
                    confirmButtonText: "是，更新",
                    cancelButtonText: "否，不用",
                    width: 600,
                    heightAuto: false,
                    padding: '20px',
                }).then((historyResult) => {
                    if (historyResult.isConfirmed || historyResult.isDismissed) {

                        // 按右上角 X，不更新
                        if (historyResult.dismiss === Swal.DismissReason.close) {
                            console.log("使用者關閉視窗，不更新");
                            return;
                        }
                        let updateHistory = historyResult.isConfirmed;
                        const update_history = {
                            update_history: updateHistory
                        };
                        // 取得表單中的值
                        const updatedData = {
                            final_property_id: $("#final_property_id").val(),
                            name: $("#name").val(),
                            location: $("#location").val(),
                            remarks: $("#remarks ").val(),
                            custodian: $("#custodian").val(),
                            change_record: $("#change_record").val(),
                        };

                        // 準備 FormData 來包含圖片
                        const formData = new FormData();

                        // 檢查是否選擇了圖片
                        let files = $("#cameraInput")[0].files;
                        for (let i = 0; i < files.length; i++) {
                            formData.append("files", files[i]);
                        }
                        formData.append("update_history", updateHistory);
                        formData.append("updatedData", JSON.stringify(updatedData));

                        // // 發送更新請求
                        $.ajax({
                            url: "/chyunn/asset_manage/mobile_update_invertoryDetail",
                            method: "PUT",
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                if (response.code === 200) {
                                    console.log(response)
                                    $("#final_property_id").val(response.data.inventoryEquipmentDto.final_property_id);
                                    $("#name").val(response.data.inventoryEquipmentDto.name);
                                    $("#location").val(response.data.inventoryEquipmentDto.location);
                                    $("#remarks ").val(response.data.inventoryEquipmentDto.remarks);
                                    $("#custodian").val(response.data.inventoryEquipmentDto.custodian);
                                    $("#change_record").val(response.data.inventoryEquipmentDto.change_record);
                                    $(" #name, #location, #notes, #custodian, #change_record,#remarks")
                                        .prop("readonly", true)
                                        .addClass("readonly-field")
                                        .removeClass("editable-field");
                                    // 更新圖片
                                    updateImageGallery(response.data.inventoryEquipmentDto.final_property_id, response.data.inventoryEquipmentDto.inventoryEquipmentFileDtoList);
                                    // 顯示更新按鈕
                                    $("#unlockUpdateButton").show();

                                    $("#updateButton").hide();
                                    $('#history-btn').off('click').on('click', function () {
                                        const historyRecords = response.data.inventoryEquipmentDto.assetHistoryDtoList;
                                        showHistoryPopup(historyRecords);
                                    });

                                    // **清除上傳的圖片**
                                    $("#cameraInput").val(""); // 清除 input file 的值
                                    $("#photoPreview").attr("src", "").hide(); // 清除預覽圖片並隱藏
                                    Swal.fire({
                                        icon: "success",
                                        title: "更新成功",
                                        text: "資料已更新",
                                        width: 800,
                                        heightAuto: false,
                                        padding: '20px',
                                        showCancelButton: false,
                                        customClass: {
                                            popup: 'swal-popup-large',
                                        }
                                    });
                                } else if (response.code === 400) {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: response.message
                                    });
                                } else {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: response.message
                                    });
                                }

                            },
                            error: function (xhr, status, error) {
                                console.log(xhr); // 確保錯誤資訊被記錄
                                let errorMessage = "發生錯誤";
                                try {
                                    // 嘗試解析 JSON 回應，避免解析錯誤
                                    let response = JSON.parse(xhr.responseText);
                                    errorMessage = response.message || errorMessage;
                                } catch (e) {
                                    // 若解析失敗，直接使用原始 responseText
                                    errorMessage = xhr.responseText || errorMessage;
                                }
                                Swal.fire({
                                    icon: 'error',
                                    title: '操做失敗',
                                    text: errorMessage,
                                });
                            }
                        });
                    }
                })
            })
        })

    </script>
</body>

</html>