<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>SIP.com 會員-更新訂單</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <div th:replace="~{customerNavbar/customerNavbar_1}"></div>
    <style>
        .Error {
            color: rgb(240, 60, 60);
        }
    </style>
</head>

<body>
    <div th:replace="~{customerNavbar/customerNavbar_2}"></div>
    <!-- Content Start -->
    <div class="content">

        <div th:replace="~{customerNavbar/customerNavbar_3}"></div>
        <div class="cotainer-fluid pt-4 px-4 fs-6 fw-bold ">
            <div class="bg-light rounded p-4">
                <form id="updateOrder">
                    <table class="table text-dark">
                        <tr>
                            <th>訂單編號 orderID</th>
                            <td th:text="${orderTable.orderID}"></td>
                        </tr>
                        <tr>
                            <th>住客名子 Customer Name</th>
                            <td>
                                <div class="form-group">
                                    <label for="firstName" class="fw-bold">名子 First Name</label>
                                    <input type="text" id="firstName" name="firstName"
                                        th:value="${orderTable.firstName}" class="form-control text-dark" />
                                    <span class="Error" id="firstNameError"
                                        style="margin-left: 10px; display:none;"></span>
                                </div>
                                <div class="form-group mt-3">
                                    <label for="lastName" class="fw-bold">姓 Last Name</label>
                                    <input type="text" id="lastName" name="lastName" th:value="${orderTable.lastName}"
                                        class="form-control text-dark" />
                                    <span class="Error" id="lastNameError"
                                        style="margin-left: 10px; display:none;"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>電子郵件 Email</th>
                            <td>
                                <input type="email" name="email" th:value="${orderTable.email}" id="email"
                                    class="form-control text-dark" />
                                <span class="Error" id="emailError" style="margin-left: 10px; display:none;"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>訂單狀態 Order Status</th>
                            <td th:text="${orderTable.orderStatus}"></td>
                        </tr>
                        <tr>
                            <th>訂單金額 Price</th>
                            <td th:text="${orderTable.orderPrice}"></td>
                        </tr>
                        <tr>
                            <th>支付方式 Payment</th>
                            <td th:text="${orderTable.payment == 'cash' ? '現金' : orderTable.payment}">
                            </td>
                        </tr>
                        <tr>
                            <th>入住人數 Number of People</th>
                            <td th:text="${orderTable.numPeople}"></td>
                        </tr>
                        <tr>
                            <th>入住日期 Check-In Date</th>
                            <td th:text="${#dates.format(orderTable.checkInDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                        <tr>
                            <th>退房日期 Check-Out Date</th>
                            <td th:text="${#dates.format(orderTable.checkOutDate, 'yyyy-MM-dd')}"></td>
                        </tr>
                        <tr>
                            <th>飯店</th>
                            <td th:text="${orderTable.hotel.hotelName}"></td>
                        </tr>
                        <tr>
                            <th>地址</th>
                            <td
                                th:text="${orderTable.hotel.country} + ', ' + ${orderTable.hotel.city} + ', ' + ${orderTable.hotel.region} + ', ' + ${orderTable.hotel.street}">
                            </td>
                        </tr>
                        <tr>
                            <th>評分 Evaluation</th>
                            <td th:text="${orderTable.evaluation}"></td>
                        </tr>
                        <tr>
                            <th>顧客評論 Comment</th>
                            <td th:text="${orderTable.comment}"></td>
                        </tr>
                    </table>
                    <table class="table text-dark">
                        <thead>
                            <tr>
                                <th>預定房型</th>
                                <th>可入住人數</th>
                                <th>預訂房間數量</th>
                                <th>價錢</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="orderItem : ${orderTable.orderItems}">
                                <td th:text="${orderItem.room.productName}"></td>
                                <td th:text="${orderItem.room.capacity}"></td>
                                <td th:text="${orderItem.quantity}"></td>
                                <td th:text="${orderItem.orderItemPrice}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-between mt-4">
                        <input type="hidden" name="orderID" th:value="${orderTable.orderID}" />
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <button type="submit" class="btn btn-primary" id="submitBtnUpdate">更新訂單 Update Order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Content End -->


    <div th:replace="~{customerNavbar/customerNavbar_4}"></div>
    <div th:replace="~{customerNavbar/customerNavbar_5}"></div>
    <script>
        $(document).ready(function () {
            $('#submitBtnUpdate').click(function (event) {
                //取消預設動作
                event.preventDefault();
                // 取得Form資料
                const formData = $('#updateOrder').serialize();
                console.log(formData)
                Swal.fire({
                    icon: 'question',
                    title: '修改訂單',
                    showCancelButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'PUT',
                            url: '/sip/customer/index/updateOrder',
                            data: formData,
                            headers: {
                                'X-CSRF-TOKEN': $('input[name=_csrf]').val()
                            },
                            success: function (response) {
                                console.log('loginForm success:', response);
                                if (response === 'N') {
                                    Swal.fire({
                                        icon: "error",
                                        title: "Oops...",
                                        text: "有一些錯誤",
                                    });
                                } else {
                                    window.location.href = "/sip/customer/index/orderdetail?orderID=" + response;
                                }

                            },
                            error: function (error) {
                                console.error('AJAX error:', error);
                            }
                        });
                    }
                })
            })
        });
        var emailInput = document.getElementById('email');
        var emailError = document.getElementById('emailError');
        var lastNameInput = document.getElementById('lastName');
        var lastNameError = document.getElementById('lastNameError');
        var firstNameInput = document.getElementById('firstName');
        var firstNameError = document.getElementById('firstNameError');


        emailInput.addEventListener('input', validateEmail);
        lastNameInput.addEventListener('input', validateLastName);
        firstNameInput.addEventListener('input', validateFirstName);
        // 正規表示式 中英文
        var Regex = /^[a-zA-Z0-9\s\u4e00-\u9fa5#.,-]+$/;
        // 正規表示式 email
        var RegexEmail = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        // 定義敏感詞彙
        var sensitiveWords = ["fuck", "Fuck"];

        function validateContentEmail(text) {
            if (text.trim() === '') {
                return "required"; //限制 用required控制
            }
            if (!RegexEmail.test(text)) {
                return "invalid"; //格式錯誤
            }
            return "valid"; // all checks
        }

        function validateContent(text) {
            if (text.trim() === '') {
                return "required"; //限制 用required控制
            }
            if (!Regex.test(text)) {
                return "invalid"; //是否包含敏感詞彙
            }
            for (var i = 0; i < sensitiveWords.length; i++) {
                if (text.toLowerCase().includes(sensitiveWords[i].toLowerCase())) {
                    return "sensitive"; //是否包含敏感詞彙
                }
            }
            return "valid"; // all checks
        }

        function validateEmail() {
            var email = emailInput.value;
            var validationResult = validateContentEmail(email);
            console.log('啟動');
            if (validationResult === "required") {
                emailError.style.display = 'none';
                emailError.textContent = '';
                return false;
            } else if (validationResult === "invalid") {
                emailError.style.display = 'block';
                emailError.textContent = '格式錯誤';
                return false; //輸入錯誤
            }
            emailError.style.display = 'none';
            emailError.textContent = '';
            return true;
        }
        function validateLastName() {
            var lastName = lastNameInput.value;
            var validationResult = validateContent(lastName);
            console.log('啟動');
            if (validationResult === "required") {
                lastNameError.style.display = 'none';
                lastNameError.textContent = '';
                return false;
            } else if (validationResult === "invalid") {
                lastNameError.style.display = 'block';
                lastNameError.textContent = '含敏感詞彙';
                return false; //輸入錯誤
            } else if (validationResult === "sensitive") {
                lastNameError.style.display = 'block';
                lastNameError.textContent = '含敏感詞彙';
                return false;
            }
            lastNameError.style.display = 'none';
            lastNameError.textContent = '';
            return true;
        }
        function validateFirstName() {
            var firstName = firstNameInput.value;
            var validationResult = validateContent(firstName);
            console.log('啟動');
            if (validationResult === "required") {
                firstNameError.style.display = 'none';
                firstNameError.textContent = '';
                return false;
            } else if (validationResult === "invalid") {
                firstNameError.style.display = 'block';
                firstNameError.textContent = '含敏感詞彙';
                return false; //輸入錯誤
            } else if (validationResult === "sensitive") {
                firstNameError.style.display = 'block';
                firstNameError.textContent = '含敏感詞彙';
                return false;
            }
            firstNameError.style.display = 'none';
            firstNameError.textContent = '';
            return true;
        }
    </script>
</body>

</html>