<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a class="navbar-brand mx-4 mb-3">
            <h3 class="text" style="color: #1ab394;">CHYUNN</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img id="userImage" class="rounded-circle" src="../img/logo.ico" alt="User Image"
                    style="width: 40px; height: 40px;">
                <div
                    class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0 text-dark" id="username-h6"></h6>
            </div>
        </div>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-file-alt me-2"></i>事件反應</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/incident/select_incident'}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>追蹤</a>
                    <a th:href="@{'/incident/inster_incident'}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>新增事件</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-file-alt me-2"></i>事件反應</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/incident/select_incident'}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>追蹤</a>
                    <a th:href="@{'/incident/inster_incident'}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>新增事件</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-file-alt me-2"></i>事件反應</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a th:href="@{'/incident/select_incident'}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>追蹤</a>
                    <a th:href="@{'/incident/inster_incident'}" class="nav-item nav-link"><i
                            class="fa fa-laptop me-2"></i>新增事件</a>
                </div>
            </div>
        </div>
    </nav>
</div>